In [1]:
import csv

import pandas as pd

patient_68 = pd.read_csv('Diabetes-Data/data-68',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_68[patient_68['code'] == 33]

code34 = patient_68[patient_68['code'] == 34]

code35 = patient_68[patient_68['code'] == 35]

code48 = patient_68[patient_68['code'] == 48]

code57 = patient_68[patient_68['code'] == 57]

code58 = patient_68[patient_68['code'] == 58]

code59 = patient_68[patient_68['code'] == 59]

code60 = patient_68[patient_68['code'] == 60]

code61 = patient_68[patient_68['code'] == 61]

code62 = patient_68[patient_68['code'] == 62]

code63 = patient_68[patient_68['code'] == 63]

code64 = patient_68[patient_68['code'] == 64]

code65 = patient_68[patient_68['code'] == 65]

code66 = patient_68[patient_68['code'] == 66]

code67 = patient_68[patient_68['code'] == 67]

code68 = patient_68[patient_68['code'] == 68]

code69 = patient_68[patient_68['code'] == 69]

code70 = patient_68[patient_68['code'] == 70]

code71 = patient_68[patient_68['code'] == 71]

code72 = patient_68[patient_68['code'] == 72]

code71

rec68 = pd.read_csv('PatientRecords.csv')

rec68

rec68['date'] = patient_68['date']

rec68['id'] = 'Patient 68'

rec68['time'] = patient_68['time']

rec68['33'] = code33['volume']

rec68['34'] = code34['volume']

rec68['35'] = code35['volume']

rec68['48'] = code48['volume']

rec68['57'] = code57['volume']

rec68['58'] = code58['volume']

rec68['59'] = code59['volume']

rec68['60'] = code60['volume']

rec68['61'] = code61['volume']

rec68['62'] = code62['volume']

rec68['63'] = code63['volume']

rec68['64'] = code64['volume']

rec68['65'] = code65['volume']

rec68['66'] = code66['volume']

rec68['67'] = code67['volume']

rec68['68'] = code68['volume']

rec68['69'] = code69['volume']

rec68['70']  = code70['volume']

rec68['71'] = code71['volume']

rec68['72'] = code72['volume']

rec68

patient_68

rec68.to_csv(r'Prec68.csv', index = False)

In [2]:
rec68

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 68,03-27-1988,08:00,NaN,NaN,NaN,NaN,NaN,NaN,134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 68,03-27-1988,08:00,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 68,03-27-1988,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 68,03-27-1988,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 68,03-28-1988,08:00,NaN,NaN,NaN,NaN,NaN,NaN,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,Patient 68,01-08-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,Patient 68,01-08-1989,08:00,NaN,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,Patient 68,01-08-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,Patient 68,01-08-1989,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,Patient 68,01-08-1989,22:00,NaN,NaN,NaN,NaN,118.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_68

           date   time  code  volume
0    03-27-1988  08:00    58     134
1    03-27-1988  08:00    34      20
2    03-27-1988  12:00    60     158
3    03-27-1988  18:00    62     258
4    03-28-1988  08:00    58     115
..          ...    ...   ...     ...
688  01-08-1989  08:00    58     134
689  01-08-1989  08:00    34      12
690  01-08-1989  12:00    60     105
691  01-08-1989  18:00    62     111
692  01-08-1989  22:00    48     118

[693 rows x 4 columns]