In [1]:
import csv

import pandas as pd

patient_54 = pd.read_csv('Diabetes-Data/data-54',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_54[patient_54['code'] == 33]

code34 = patient_54[patient_54['code'] == 34]

code35 = patient_54[patient_54['code'] == 35]

code48 = patient_54[patient_54['code'] == 48]

code57 = patient_54[patient_54['code'] == 57]

code58 = patient_54[patient_54['code'] == 58]

code59 = patient_54[patient_54['code'] == 59]

code60 = patient_54[patient_54['code'] == 60]

code61 = patient_54[patient_54['code'] == 61]

code62 = patient_54[patient_54['code'] == 62]

code63 = patient_54[patient_54['code'] == 63]

code64 = patient_54[patient_54['code'] == 64]

code65 = patient_54[patient_54['code'] == 65]

code66 = patient_54[patient_54['code'] == 66]

code67 = patient_54[patient_54['code'] == 67]

code68 = patient_54[patient_54['code'] == 68]

code69 = patient_54[patient_54['code'] == 69]

code70 = patient_54[patient_54['code'] == 70]

code71 = patient_54[patient_54['code'] == 71]

code72 = patient_54[patient_54['code'] == 72]

code71

rec54 = pd.read_csv('PatientRecords.csv')

rec54

rec54['date'] = patient_54['date']

rec54['id'] = 'Patient 54'

rec54['time'] = patient_54['time']

rec54['33'] = code33['volume']

rec54['34'] = code34['volume']

rec54['35'] = code35['volume']

rec54['48'] = code48['volume']

rec54['57'] = code57['volume']

rec54['58'] = code58['volume']

rec54['59'] = code59['volume']

rec54['60'] = code60['volume']

rec54['61'] = code61['volume']

rec54['62'] = code62['volume']

rec54['63'] = code63['volume']

rec54['64'] = code64['volume']

rec54['65'] = code65['volume']

rec54['66'] = code66['volume']

rec54['67'] = code67['volume']

rec54['68'] = code68['volume']

rec54['69'] = code69['volume']

rec54['70']  = code70['volume']

rec54['71'] = code71['volume']

rec54['72'] = code72['volume']

rec54

patient_54

rec54.to_csv(r'Prec54.csv', index = False)

In [2]:
rec54

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 54,07-29-1990,7:00,NaN,NaN,NaN,NaN,NaN,NaN,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 54,07-29-1990,7:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 54,07-29-1990,7:00,NaN,NaN,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 54,07-29-1990,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 54,07-29-1990,18:00,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,Patient 54,11-08-1990,08:00,NaN,NaN,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,Patient 54,11-08-1990,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,Patient 54,11-08-1990,12:00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777,Patient 54,11-08-1990,17:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,Patient 54,11-08-1990,17:45,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_54

           date   time  code  volume
0    07-29-1990   7:00    58      79
1    07-29-1990   7:00    33       6
2    07-29-1990   7:00    35      17
3    07-29-1990  18:00    62     119
4    07-29-1990  18:00    33       7
..          ...    ...   ...     ...
774  11-08-1990  08:00    35      17
775  11-08-1990  12:00    60     150
776  11-08-1990  12:00    33       2
777  11-08-1990  17:45    62      65
778  11-08-1990  17:45    33      10

[779 rows x 4 columns]