In [1]:
import csv

import pandas as pd

patient_46 = pd.read_csv('Diabetes-Data/data-46',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_46[patient_46['code'] == 33]

code34 = patient_46[patient_46['code'] == 34]

code35 = patient_46[patient_46['code'] == 35]

code48 = patient_46[patient_46['code'] == 48]

code57 = patient_46[patient_46['code'] == 57]

code58 = patient_46[patient_46['code'] == 58]

code59 = patient_46[patient_46['code'] == 59]

code60 = patient_46[patient_46['code'] == 60]

code61 = patient_46[patient_46['code'] == 61]

code62 = patient_46[patient_46['code'] == 62]

code63 = patient_46[patient_46['code'] == 63]

code64 = patient_46[patient_46['code'] == 64]

code65 = patient_46[patient_46['code'] == 65]

code66 = patient_46[patient_46['code'] == 66]

code67 = patient_46[patient_46['code'] == 67]

code68 = patient_46[patient_46['code'] == 68]

code69 = patient_46[patient_46['code'] == 69]

code70 = patient_46[patient_46['code'] == 70]

code71 = patient_46[patient_46['code'] == 71]

code72 = patient_46[patient_46['code'] == 72]

code71

rec46 = pd.read_csv('PatientRecords.csv')

rec46

rec46['date'] = patient_46['date']

rec46['id'] = 'Patient 46'

rec46['time'] = patient_46['time']

rec46['33'] = code33['volume']

rec46['34'] = code34['volume']

rec46['35'] = code35['volume']

rec46['48'] = code48['volume']

rec46['57'] = code57['volume']

rec46['58'] = code58['volume']

rec46['59'] = code59['volume']

rec46['60'] = code60['volume']

rec46['61'] = code61['volume']

rec46['62'] = code62['volume']

rec46['63'] = code63['volume']

rec46['64'] = code64['volume']

rec46['65'] = code65['volume']

rec46['66'] = code66['volume']

rec46['67'] = code67['volume']

rec46['68'] = code68['volume']

rec46['69'] = code69['volume']

rec46['70']  = code70['volume']

rec46['71'] = code71['volume']

rec46['72'] = code72['volume']

rec46

patient_46

rec46.to_csv(r'Prec46.csv', index = False)

In [2]:
rec46

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 46,03-29-1991,18:59,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 46,03-29-1991,21:15,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 46,03-29-1991,21:15,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 46,03-30-1991,07:03,NaN,NaN,NaN,NaN,NaN,NaN,123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 46,03-30-1991,07:06,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 46,05-02-1991,06:13,NaN,NaN,NaN,NaN,NaN,NaN,298.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 46,05-02-1991,06:14,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 46,05-02-1991,06:14,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 46,05-02-1991,09:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 46,05-02-1991,09:25,NaN,NaN,NaN,NaN,NaN,219.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_46

           date   time  code  volume
0    03-29-1991  18:59    34       3
1    03-29-1991  21:15    33       2
2    03-29-1991  21:15    34       6
3    03-30-1991  07:03    58     123
4    03-30-1991  07:06    33       2
..          ...    ...   ...     ...
295  05-02-1991  06:13    58     298
296  05-02-1991  06:14    33       4
297  05-02-1991  06:14    34      20
298  05-02-1991  09:22    59     194
299  05-02-1991  09:25    57     219

[300 rows x 4 columns]