In [1]:
import csv

import pandas as pd

patient_28 = pd.read_csv('Diabetes-Data/data-28',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_28[patient_28['code'] == 33]

code34 = patient_28[patient_28['code'] == 34]

code35 = patient_28[patient_28['code'] == 35]

code48 = patient_28[patient_28['code'] == 48]

code57 = patient_28[patient_28['code'] == 57]

code58 = patient_28[patient_28['code'] == 58]

code59 = patient_28[patient_28['code'] == 59]

code60 = patient_28[patient_28['code'] == 60]

code61 = patient_28[patient_28['code'] == 61]

code62 = patient_28[patient_28['code'] == 62]

code63 = patient_28[patient_28['code'] == 63]

code64 = patient_28[patient_28['code'] == 64]

code65 = patient_28[patient_28['code'] == 65]

code66 = patient_28[patient_28['code'] == 66]

code67 = patient_28[patient_28['code'] == 67]

code68 = patient_28[patient_28['code'] == 68]

code69 = patient_28[patient_28['code'] == 69]

code70 = patient_28[patient_28['code'] == 70]

code71 = patient_28[patient_28['code'] == 71]

code72 = patient_28[patient_28['code'] == 72]

code71

rec28 = pd.read_csv('PatientRecords.csv')

rec28

rec28['date'] = patient_28['date']

rec28['id'] = 'Patient 28'

rec28['time'] = patient_28['time']

rec28['33'] = code33['volume']

rec28['34'] = code34['volume']

rec28['35'] = code35['volume']

rec28['48'] = code48['volume']

rec28['57'] = code57['volume']

rec28['58'] = code58['volume']

rec28['59'] = code59['volume']

rec28['60'] = code60['volume']

rec28['61'] = code61['volume']

rec28['62'] = code62['volume']

rec28['63'] = code63['volume']

rec28['64'] = code64['volume']

rec28['65'] = code65['volume']

rec28['66'] = code66['volume']

rec28['67'] = code67['volume']

rec28['68'] = code68['volume']

rec28['69'] = code69['volume']

rec28['70']  = code70['volume']

rec28['71'] = code71['volume']

rec28['72'] = code72['volume']

rec28

patient_28

rec28.to_csv(r'Prec28.csv', index = False)

In [2]:
rec28

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 28,11-05-1989,7:00,NaN,NaN,NaN,NaN,NaN,NaN,179.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 28,11-05-1989,7:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 28,11-05-1989,7:00,NaN,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 28,11-05-1989,15:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 28,11-05-1989,15:30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,Patient 28,04-23-1990,19:30,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
947,Patient 28,04-23-1990,21:00,NaN,NaN,NaN,NaN,102.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,Patient 28,04-24-1990,7:00,NaN,NaN,NaN,NaN,NaN,NaN,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,Patient 28,04-24-1990,7:00,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,Patient 28,04-24-1990,7:00,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_28

           date   time  code  volume
0    11-05-1989   7:00    58     179
1    11-05-1989   7:00    33       6
2    11-05-1989   7:00    34      16
3    11-05-1989  15:30    60     117
4    11-05-1989  15:30    33       4
..          ...    ...   ...     ...
946  04-23-1990  19:30    33       6
947  04-23-1990  21:00    48     102
948  04-24-1990   7:00    58     108
949  04-24-1990   7:00    33       7
950  04-24-1990   7:00    34      18

[951 rows x 4 columns]