In [1]:
import csv

import pandas as pd

patient_47 = pd.read_csv('Diabetes-Data/data-47',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_47[patient_47['code'] == 33]

code34 = patient_47[patient_47['code'] == 34]

code35 = patient_47[patient_47['code'] == 35]

code48 = patient_47[patient_47['code'] == 48]

code57 = patient_47[patient_47['code'] == 57]

code58 = patient_47[patient_47['code'] == 58]

code59 = patient_47[patient_47['code'] == 59]

code60 = patient_47[patient_47['code'] == 60]

code61 = patient_47[patient_47['code'] == 61]

code62 = patient_47[patient_47['code'] == 62]

code63 = patient_47[patient_47['code'] == 63]

code64 = patient_47[patient_47['code'] == 64]

code65 = patient_47[patient_47['code'] == 65]

code66 = patient_47[patient_47['code'] == 66]

code67 = patient_47[patient_47['code'] == 67]

code68 = patient_47[patient_47['code'] == 68]

code69 = patient_47[patient_47['code'] == 69]

code70 = patient_47[patient_47['code'] == 70]

code71 = patient_47[patient_47['code'] == 71]

code72 = patient_47[patient_47['code'] == 72]

code71

rec47 = pd.read_csv('PatientRecords.csv')

rec47

rec47['date'] = patient_47['date']

rec47['id'] = 'Patient 47'

rec47['time'] = patient_47['time']

rec47['33'] = code33['volume']

rec47['34'] = code34['volume']

rec47['35'] = code35['volume']

rec47['48'] = code48['volume']

rec47['57'] = code57['volume']

rec47['58'] = code58['volume']

rec47['59'] = code59['volume']

rec47['60'] = code60['volume']

rec47['61'] = code61['volume']

rec47['62'] = code62['volume']

rec47['63'] = code63['volume']

rec47['64'] = code64['volume']

rec47['65'] = code65['volume']

rec47['66'] = code66['volume']

rec47['67'] = code67['volume']

rec47['68'] = code68['volume']

rec47['69'] = code69['volume']

rec47['70']  = code70['volume']

rec47['71'] = code71['volume']

rec47['72'] = code72['volume']

rec47

patient_47

rec47.to_csv(r'Prec47.csv', index = False)

In [2]:
rec47

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 47,05-04-1991,01:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,Patient 47,05-04-1991,07:10,NaN,NaN,NaN,NaN,NaN,NaN,192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 47,05-04-1991,07:13,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 47,05-04-1991,07:13,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 47,05-04-1991,12:41,NaN,NaN,NaN,NaN,NaN,NaN,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 47,06-04-1991,21:15,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 47,06-05-1991,06:26,NaN,NaN,NaN,NaN,NaN,NaN,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 47,06-05-1991,06:28,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 47,06-05-1991,06:28,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 47,06-05-1991,12:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_47

           date   time  code  volume
0    05-04-1991  01:05    72       0
1    05-04-1991  07:10    58     192
2    05-04-1991  07:13    33       3
3    05-04-1991  07:13    34      20
4    05-04-1991  12:41    58      59
..          ...    ...   ...     ...
295  06-04-1991  21:15    34       6
296  06-05-1991  06:26    58      60
297  06-05-1991  06:28    33       1
298  06-05-1991  06:28    34      20
299  06-05-1991  12:29    60      60

[300 rows x 4 columns]