In [1]:
import csv

import pandas as pd

patient_49 = pd.read_csv('Diabetes-Data/data-49',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_49[patient_49['code'] == 33]

code34 = patient_49[patient_49['code'] == 34]

code35 = patient_49[patient_49['code'] == 35]

code48 = patient_49[patient_49['code'] == 48]

code57 = patient_49[patient_49['code'] == 57]

code58 = patient_49[patient_49['code'] == 58]

code59 = patient_49[patient_49['code'] == 59]

code60 = patient_49[patient_49['code'] == 60]

code61 = patient_49[patient_49['code'] == 61]

code62 = patient_49[patient_49['code'] == 62]

code63 = patient_49[patient_49['code'] == 63]

code64 = patient_49[patient_49['code'] == 64]

code65 = patient_49[patient_49['code'] == 65]

code66 = patient_49[patient_49['code'] == 66]

code67 = patient_49[patient_49['code'] == 67]

code68 = patient_49[patient_49['code'] == 68]

code69 = patient_49[patient_49['code'] == 69]

code70 = patient_49[patient_49['code'] == 70]

code71 = patient_49[patient_49['code'] == 71]

code72 = patient_49[patient_49['code'] == 72]

code71

rec49 = pd.read_csv('PatientRecords.csv')

rec49

rec49['date'] = patient_49['date']

rec49['id'] = 'Patient 49'

rec49['time'] = patient_49['time']

rec49['33'] = code33['volume']

rec49['34'] = code34['volume']

rec49['35'] = code35['volume']

rec49['48'] = code48['volume']

rec49['57'] = code57['volume']

rec49['58'] = code58['volume']

rec49['59'] = code59['volume']

rec49['60'] = code60['volume']

rec49['61'] = code61['volume']

rec49['62'] = code62['volume']

rec49['63'] = code63['volume']

rec49['64'] = code64['volume']

rec49['65'] = code65['volume']

rec49['66'] = code66['volume']

rec49['67'] = code67['volume']

rec49['68'] = code68['volume']

rec49['69'] = code69['volume']

rec49['70']  = code70['volume']

rec49['71'] = code71['volume']

rec49['72'] = code72['volume']

rec49

patient_49

rec49.to_csv(r'Prec49.csv', index = False)

In [2]:
rec49

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 49,07-16-1990,11:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 49,07-16-1990,11:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 49,07-16-1990,11:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 49,07-16-1990,11:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 49,07-16-1990,12:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Patient 49,08-29-1990,20:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Patient 49,08-30-1990,05:46,NaN,NaN,NaN,NaN,NaN,NaN,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,Patient 49,08-30-1990,11:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Patient 49,08-30-1990,17:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Patient 49,08-30-1990,20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_49

           date   time  code  volume
0    07-16-1990  11:40    56      31
1    07-16-1990  11:42    65       0
2    07-16-1990  11:43    64      30
3    07-16-1990  11:46    65       0
4    07-16-1990  12:23    56     225
..          ...    ...   ...     ...
235  08-29-1990  20:41    64      91
236  08-30-1990  05:46    58      82
237  08-30-1990  11:46    60      52
238  08-30-1990  17:53    62      95
239  08-30-1990  20:48    64      93

[240 rows x 4 columns]