In [1]:
import csv

import pandas as pd

patient_60 = pd.read_csv('Diabetes-Data/data-60',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_60[patient_60['code'] == 33]

code34 = patient_60[patient_60['code'] == 34]

code35 = patient_60[patient_60['code'] == 35]

code48 = patient_60[patient_60['code'] == 48]

code57 = patient_60[patient_60['code'] == 57]

code58 = patient_60[patient_60['code'] == 58]

code59 = patient_60[patient_60['code'] == 59]

code60 = patient_60[patient_60['code'] == 60]

code61 = patient_60[patient_60['code'] == 61]

code62 = patient_60[patient_60['code'] == 62]

code63 = patient_60[patient_60['code'] == 63]

code64 = patient_60[patient_60['code'] == 64]

code65 = patient_60[patient_60['code'] == 65]

code66 = patient_60[patient_60['code'] == 66]

code67 = patient_60[patient_60['code'] == 67]

code68 = patient_60[patient_60['code'] == 68]

code69 = patient_60[patient_60['code'] == 69]

code70 = patient_60[patient_60['code'] == 70]

code71 = patient_60[patient_60['code'] == 71]

code72 = patient_60[patient_60['code'] == 72]

code71

rec60 = pd.read_csv('PatientRecords.csv')

rec60

rec60['date'] = patient_60['date']

rec60['id'] = 'Patient 60'

rec60['time'] = patient_60['time']

rec60['33'] = code33['volume']

rec60['34'] = code34['volume']

rec60['35'] = code35['volume']

rec60['48'] = code48['volume']

rec60['57'] = code57['volume']

rec60['58'] = code58['volume']

rec60['59'] = code59['volume']

rec60['60'] = code60['volume']

rec60['61'] = code61['volume']

rec60['62'] = code62['volume']

rec60['63'] = code63['volume']

rec60['64'] = code64['volume']

rec60['65'] = code65['volume']

rec60['66'] = code66['volume']

rec60['67'] = code67['volume']

rec60['68'] = code68['volume']

rec60['69'] = code69['volume']

rec60['70']  = code70['volume']

rec60['71'] = code71['volume']

rec60['72'] = code72['volume']

rec60

patient_60

rec60.to_csv(r'Prec60.csv', index = False)

In [3]:
rec60

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 60,04-15-1991,13:08,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 60,04-15-1991,17:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 60,04-15-1991,18:23,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 60,04-15-1991,18:24,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 60,04-15-1991,21:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 60,05-14-1991,05:53,NaN,NaN,NaN,NaN,NaN,NaN,275.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 60,05-14-1991,05:55,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 60,05-14-1991,05:55,NaN,NaN,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 60,05-15-1991,11:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 60,05-15-1991,11:52,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
patient_60

           date   time  code  volume
0    04-15-1991  13:08    33       5
1    04-15-1991  17:17    62      41
2    04-15-1991  18:23    33       6
3    04-15-1991  18:24    35       3
4    04-15-1991  21:16    64     119
..          ...    ...   ...     ...
295  05-14-1991  05:53    58     275
296  05-14-1991  05:55    33       7
297  05-14-1991  05:55    35      10
298  05-15-1991  11:50    60     191
299  05-15-1991  11:52    33       5

[300 rows x 4 columns]