In [1]:
import csv

import pandas as pd

patient_55 = pd.read_csv('Diabetes-Data/data-55',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_55[patient_55['code'] == 33]

code34 = patient_55[patient_55['code'] == 34]

code35 = patient_55[patient_55['code'] == 35]

code48 = patient_55[patient_55['code'] == 48]

code57 = patient_55[patient_55['code'] == 57]

code58 = patient_55[patient_55['code'] == 58]

code59 = patient_55[patient_55['code'] == 59]

code60 = patient_55[patient_55['code'] == 60]

code61 = patient_55[patient_55['code'] == 61]

code62 = patient_55[patient_55['code'] == 62]

code63 = patient_55[patient_55['code'] == 63]

code64 = patient_55[patient_55['code'] == 64]

code65 = patient_55[patient_55['code'] == 65]

code66 = patient_55[patient_55['code'] == 66]

code67 = patient_55[patient_55['code'] == 67]

code68 = patient_55[patient_55['code'] == 68]

code69 = patient_55[patient_55['code'] == 69]

code70 = patient_55[patient_55['code'] == 70]

code71 = patient_55[patient_55['code'] == 71]

code72 = patient_55[patient_55['code'] == 72]

code71

rec55 = pd.read_csv('PatientRecords.csv')

rec55

rec55['date'] = patient_55['date']

rec55['id'] = 'Patient 55'

rec55['time'] = patient_55['time']

rec55['33'] = code33['volume']

rec55['34'] = code34['volume']

rec55['35'] = code35['volume']

rec55['48'] = code48['volume']

rec55['57'] = code57['volume']

rec55['58'] = code58['volume']

rec55['59'] = code59['volume']

rec55['60'] = code60['volume']

rec55['61'] = code61['volume']

rec55['62'] = code62['volume']

rec55['63'] = code63['volume']

rec55['64'] = code64['volume']

rec55['65'] = code65['volume']

rec55['66'] = code66['volume']

rec55['67'] = code67['volume']

rec55['68'] = code68['volume']

rec55['69'] = code69['volume']

rec55['70']  = code70['volume']

rec55['71'] = code71['volume']

rec55['72'] = code72['volume']

rec55

patient_55

rec55.to_csv(r'Prec55.csv', index = False)

In [2]:
rec55

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 55,03-01-1991,08:00,NaN,NaN,NaN,NaN,NaN,NaN,281.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 55,03-01-1991,08:00,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 55,03-01-1991,08:00,NaN,22.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 55,03-01-1991,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 55,03-01-1991,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1322,Patient 55,07-27-1991,12:00,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1323,Patient 55,07-27-1991,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1324,Patient 55,07-27-1991,18:00,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325,Patient 55,07-27-1991,22:00,NaN,NaN,NaN,NaN,99.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1326,Patient 55,07-27-1991,22:00,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_55

            date   time  code  volume
0     03-01-1991  08:00    58     281
1     03-01-1991  08:00    33       7
2     03-01-1991  08:00    34      22
3     03-01-1991  12:00    60     209
4     03-01-1991  18:00    62     116
...          ...    ...   ...     ...
1322  07-27-1991  12:00    33       8
1323  07-27-1991  18:00    62     116
1324  07-27-1991  18:00    33      12
1325  07-27-1991  22:00    48      99
1326  07-27-1991  22:00    34       2

[1327 rows x 4 columns]