In [1]:
import csv

import pandas as pd

patient_67 = pd.read_csv('Diabetes-Data/data-67',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_67[patient_67['code'] == 33]

code34 = patient_67[patient_67['code'] == 34]

code35 = patient_67[patient_67['code'] == 35]

code48 = patient_67[patient_67['code'] == 48]

code57 = patient_67[patient_67['code'] == 57]

code58 = patient_67[patient_67['code'] == 58]

code59 = patient_67[patient_67['code'] == 59]

code60 = patient_67[patient_67['code'] == 60]

code61 = patient_67[patient_67['code'] == 61]

code62 = patient_67[patient_67['code'] == 62]

code63 = patient_67[patient_67['code'] == 63]

code64 = patient_67[patient_67['code'] == 64]

code65 = patient_67[patient_67['code'] == 65]

code66 = patient_67[patient_67['code'] == 66]

code67 = patient_67[patient_67['code'] == 67]

code68 = patient_67[patient_67['code'] == 68]

code69 = patient_67[patient_67['code'] == 69]

code70 = patient_67[patient_67['code'] == 70]

code71 = patient_67[patient_67['code'] == 71]

code72 = patient_67[patient_67['code'] == 72]

code71

rec67 = pd.read_csv('PatientRecords.csv')

rec67

rec67['date'] = patient_67['date']

rec67['id'] = 'Patient 67'

rec67['time'] = patient_67['time']

rec67['33'] = code33['volume']

rec67['34'] = code34['volume']

rec67['35'] = code35['volume']

rec67['48'] = code48['volume']

rec67['57'] = code57['volume']

rec67['58'] = code58['volume']

rec67['59'] = code59['volume']

rec67['60'] = code60['volume']

rec67['61'] = code61['volume']

rec67['62'] = code62['volume']

rec67['63'] = code63['volume']

rec67['64'] = code64['volume']

rec67['65'] = code65['volume']

rec67['66'] = code66['volume']

rec67['67'] = code67['volume']

rec67['68'] = code68['volume']

rec67['69'] = code69['volume']

rec67['70']  = code70['volume']

rec67['71'] = code71['volume']

rec67['72'] = code72['volume']

rec67

patient_67

rec67.to_csv(r'Prec67.csv', index = False)

In [2]:
rec67

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 67,01-01-1991,9:10,NaN,NaN,NaN,NaN,NaN,NaN,235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 67,01-01-1991,9:10,18.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 67,01-01-1991,9:10,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 67,01-01-1991,13:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 67,01-01-1991,13:40,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Patient 67,04-30-1991,12:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,Patient 67,04-30-1991,12:05,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,Patient 67,04-30-1991,18:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,Patient 67,04-30-1991,18:10,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,Patient 67,04-30-1991,23:55,NaN,NaN,NaN,NaN,263.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_67

           date   time  code  volume
0    01-01-1991   9:10    58     235
1    01-01-1991   9:10    33      18
2    01-01-1991   9:10    34      40
3    01-01-1991  13:40    60     195
4    01-01-1991  13:40    33      10
..          ...    ...   ...     ...
962  04-30-1991  12:05    60      64
963  04-30-1991  12:05    33      10
964  04-30-1991  18:10    62     100
965  04-30-1991  18:10    33      14
966  04-30-1991  23:55    48     263

[967 rows x 4 columns]