In [1]:
import csv

import pandas as pd

patient_42 = pd.read_csv('Diabetes-Data/data-42',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_42[patient_42['code'] == 33]

code34 = patient_42[patient_42['code'] == 34]

code35 = patient_42[patient_42['code'] == 35]

code48 = patient_42[patient_42['code'] == 48]

code57 = patient_42[patient_42['code'] == 57]

code58 = patient_42[patient_42['code'] == 58]

code59 = patient_42[patient_42['code'] == 59]

code60 = patient_42[patient_42['code'] == 60]

code61 = patient_42[patient_42['code'] == 61]

code62 = patient_42[patient_42['code'] == 62]

code63 = patient_42[patient_42['code'] == 63]

code64 = patient_42[patient_42['code'] == 64]

code65 = patient_42[patient_42['code'] == 65]

code66 = patient_42[patient_42['code'] == 66]

code67 = patient_42[patient_42['code'] == 67]

code68 = patient_42[patient_42['code'] == 68]

code69 = patient_42[patient_42['code'] == 69]

code70 = patient_42[patient_42['code'] == 70]

code71 = patient_42[patient_42['code'] == 71]

code72 = patient_42[patient_42['code'] == 72]

code71

rec42 = pd.read_csv('PatientRecords.csv')

rec42

rec42['date'] = patient_42['date']

rec42['id'] = 'Patient 42'

rec42['time'] = patient_42['time']

rec42['33'] = code33['volume']

rec42['34'] = code34['volume']

rec42['35'] = code35['volume']

rec42['48'] = code48['volume']

rec42['57'] = code57['volume']

rec42['58'] = code58['volume']

rec42['59'] = code59['volume']

rec42['60'] = code60['volume']

rec42['61'] = code61['volume']

rec42['62'] = code62['volume']

rec42['63'] = code63['volume']

rec42['64'] = code64['volume']

rec42['65'] = code65['volume']

rec42['66'] = code66['volume']

rec42['67'] = code67['volume']

rec42['68'] = code68['volume']

rec42['69'] = code69['volume']

rec42['70']  = code70['volume']

rec42['71'] = code71['volume']

rec42['72'] = code72['volume']

rec42

patient_42

rec42.to_csv(r'Prec42.csv', index = False)

In [2]:
rec42

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 42,06-30-1991,08:00,NaN,NaN,NaN,NaN,NaN,NaN,162.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 42,06-30-1991,08:00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 42,06-30-1991,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 42,06-30-1991,12:00,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 42,06-30-1991,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,Patient 42,09-02-1991,22:00,NaN,NaN,NaN,NaN,303.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,Patient 42,09-02-1991,22:00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,Patient 42,09-02-1991,22:00,NaN,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,Patient 42,09-03-1991,08:00,NaN,NaN,NaN,NaN,NaN,NaN,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,Patient 42,09-03-1991,08:00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_42

           date   time  code  volume
0    06-30-1991  08:00    58     162
1    06-30-1991  08:00    33       4
2    06-30-1991  12:00    60     257
3    06-30-1991  12:00    33      10
4    06-30-1991  18:00    62     213
..          ...    ...   ...     ...
536  09-02-1991  22:00    48     303
537  09-02-1991  22:00    33       2
538  09-02-1991  22:00    34      15
539  09-03-1991  08:00    58     115
540  09-03-1991  08:00    33       3

[541 rows x 4 columns]