In [1]:
import csv

import pandas as pd

patient_45 = pd.read_csv('Diabetes-Data/data-45',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_45[patient_45['code'] == 33]

code34 = patient_45[patient_45['code'] == 34]

code35 = patient_45[patient_45['code'] == 35]

code48 = patient_45[patient_45['code'] == 48]

code57 = patient_45[patient_45['code'] == 57]

code58 = patient_45[patient_45['code'] == 58]

code59 = patient_45[patient_45['code'] == 59]

code60 = patient_45[patient_45['code'] == 60]

code61 = patient_45[patient_45['code'] == 61]

code62 = patient_45[patient_45['code'] == 62]

code63 = patient_45[patient_45['code'] == 63]

code64 = patient_45[patient_45['code'] == 64]

code65 = patient_45[patient_45['code'] == 65]

code66 = patient_45[patient_45['code'] == 66]

code67 = patient_45[patient_45['code'] == 67]

code68 = patient_45[patient_45['code'] == 68]

code69 = patient_45[patient_45['code'] == 69]

code70 = patient_45[patient_45['code'] == 70]

code71 = patient_45[patient_45['code'] == 71]

code72 = patient_45[patient_45['code'] == 72]

code71

rec45 = pd.read_csv('PatientRecords.csv')

rec45

rec45['date'] = patient_45['date']

rec45['id'] = 'Patient 45'

rec45['time'] = patient_45['time']

rec45['33'] = code33['volume']

rec45['34'] = code34['volume']

rec45['35'] = code35['volume']

rec45['48'] = code48['volume']

rec45['57'] = code57['volume']

rec45['58'] = code58['volume']

rec45['59'] = code59['volume']

rec45['60'] = code60['volume']

rec45['61'] = code61['volume']

rec45['62'] = code62['volume']

rec45['63'] = code63['volume']

rec45['64'] = code64['volume']

rec45['65'] = code65['volume']

rec45['66'] = code66['volume']

rec45['67'] = code67['volume']

rec45['68'] = code68['volume']

rec45['69'] = code69['volume']

rec45['70']  = code70['volume']

rec45['71'] = code71['volume']

rec45['72'] = code72['volume']

rec45

patient_45

rec45.to_csv(r'Prec45.csv', index = False)

In [2]:
rec45

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 45,09-13-1990,20:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 45,09-13-1990,20:58,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 45,09-13-1990,20:58,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 45,09-14-1990,06:04,NaN,NaN,NaN,NaN,NaN,NaN,231.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 45,09-14-1990,06:05,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 45,10-11-1990,17:03,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 45,10-11-1990,17:03,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 45,10-11-1990,20:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 45,10-11-1990,20:53,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 45,10-11-1990,20:53,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_45

           date   time  code  volume
0    09-13-1990  20:56    63     100
1    09-13-1990  20:58    33       2
2    09-13-1990  20:58    34       6
3    09-14-1990  06:04    58     231
4    09-14-1990  06:05    33       3
..          ...    ...   ...     ...
295  10-11-1990  17:03    33       5
296  10-11-1990  17:03    34       3
297  10-11-1990  20:50    63      77
298  10-11-1990  20:53    33       1
299  10-11-1990  20:53    34       6

[300 rows x 4 columns]