In [1]:
import csv

import pandas as pd

patient_70 = pd.read_csv('Diabetes-Data/data-70',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_70[patient_70['code'] == 33]

code34 = patient_70[patient_70['code'] == 34]

code35 = patient_70[patient_70['code'] == 35]

code48 = patient_70[patient_70['code'] == 48]

code57 = patient_70[patient_70['code'] == 57]

code58 = patient_70[patient_70['code'] == 58]

code59 = patient_70[patient_70['code'] == 59]

code60 = patient_70[patient_70['code'] == 60]

code61 = patient_70[patient_70['code'] == 61]

code62 = patient_70[patient_70['code'] == 62]

code63 = patient_70[patient_70['code'] == 63]

code64 = patient_70[patient_70['code'] == 64]

code65 = patient_70[patient_70['code'] == 65]

code66 = patient_70[patient_70['code'] == 66]

code67 = patient_70[patient_70['code'] == 67]

code68 = patient_70[patient_70['code'] == 68]

code69 = patient_70[patient_70['code'] == 69]

code70 = patient_70[patient_70['code'] == 70]

code71 = patient_70[patient_70['code'] == 71]

code72 = patient_70[patient_70['code'] == 72]

code71

rec70 = pd.read_csv('PatientRecords.csv')

rec70

rec70['date'] = patient_70['date']

rec70['id'] = 'Patient 70'

rec70['time'] = patient_70['time']

rec70['33'] = code33['volume']

rec70['34'] = code34['volume']

rec70['35'] = code35['volume']

rec70['48'] = code48['volume']

rec70['57'] = code57['volume']

rec70['58'] = code58['volume']

rec70['59'] = code59['volume']

rec70['60'] = code60['volume']

rec70['61'] = code61['volume']

rec70['62'] = code62['volume']

rec70['63'] = code63['volume']

rec70['64'] = code64['volume']

rec70['65'] = code65['volume']

rec70['66'] = code66['volume']

rec70['67'] = code67['volume']

rec70['68'] = code68['volume']

rec70['69'] = code69['volume']

rec70['70']  = code70['volume']

rec70['71'] = code71['volume']

rec70['72'] = code72['volume']

rec70

patient_70

rec70.to_csv(r'Prec70.csv', index = False)

In [2]:
rec70

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 70,03-13-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 70,03-13-1989,08:00,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 70,03-13-1989,08:00,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 70,03-13-1989,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 70,03-13-1989,18:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,Patient 70,05-09-1989,08:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,Patient 70,05-09-1989,08:00,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,Patient 70,05-10-1989,08:00,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,Patient 70,05-11-1989,08:00,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,Patient 70,05-12-1989,08:00,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_70

           date   time  code  volume
0    03-13-1989  08:00    58   354.0
1    03-13-1989  08:00    33     2.0
2    03-13-1989  08:00    34     8.0
3    03-13-1989  18:00    62   275.0
4    03-13-1989  18:00    33     1.0
..          ...    ...   ...     ...
336  05-09-1989  08:00    33     1.0
337  05-09-1989  08:00    34     7.0
338  05-10-1989  08:00    34     7.0
339  05-11-1989  08:00    34     7.0
340  05-12-1989  08:00    34     7.0

[341 rows x 4 columns]