In [3]:
import csv

In [4]:
import pandas as pd

In [5]:
patient_01 = pd.read_csv('data-01.csv', sep='\t', names=['date', 'time', 'code', 'volume'])

In [6]:
patient_01

           date   time  code  volume
0    04-21-1991   9:09    58     100
1    04-21-1991   9:09    33       9
2    04-21-1991   9:09    34      13
3    04-21-1991  17:08    62     119
4    04-21-1991  17:08    33       7
..          ...    ...   ...     ...
938  09-02-1991  17:30    33       7
939  09-02-1991  23:00    48     155
940  09-03-1991   7:20    58     110
941  09-03-1991   7:20    33       9
942  09-03-1991   7:20    34      16

[943 rows x 4 columns]

In [7]:
code_33 = patient_01[patient_01['code'] == 33]

In [8]:
code_33

           date   time  code  volume
1    04-21-1991   9:09    33       9
4    04-21-1991  17:08    33       7
7    04-22-1991   7:35    33      10
9    04-22-1991  13:40    33       2
11   04-22-1991  16:56    33       7
..          ...    ...   ...     ...
931  09-01-1991  17:41    33       7
934  09-02-1991   8:51    33       9
936  09-02-1991  13:00    33       4
938  09-02-1991  17:30    33       7
941  09-03-1991   7:20    33       9

[384 rows x 4 columns]

In [9]:
code_34 = patient_01[patient_01['code'] == 34]

In [10]:
code_33['volume']

1       9
4       7
7      10
9       2
11      7
       ..
931     7
934     9
936     4
938     7
941     9
Name: volume, Length: 384, dtype: int64

In [11]:
code_34

           date  time  code  volume
2    04-21-1991  9:09    34      13
8    04-22-1991  7:35    34      13
14   04-23-1991  7:25    34      13
19   04-24-1991  7:52    34      14
26   04-25-1991  7:29    34      14
..          ...   ...   ...     ...
915  08-30-1991  9:04    34      16
921  08-31-1991  9:38    34      16
928  09-01-1991  9:02    34      16
935  09-02-1991  8:51    34      16
942  09-03-1991  7:20    34      16

[139 rows x 4 columns]

In [12]:
with open('patientRecord_01.csv', 'w', newline='') as records:
    columns = ['date']
    write = csv.DictWriter(records, fieldnames = columns)
    write.writeheader()

In [13]:
records = pd.read_csv('patientRecord_01.csv')

In [14]:
records

Empty DataFrame
Columns: [date]
Index: []

In [15]:
patient_01

           date   time  code  volume
0    04-21-1991   9:09    58     100
1    04-21-1991   9:09    33       9
2    04-21-1991   9:09    34      13
3    04-21-1991  17:08    62     119
4    04-21-1991  17:08    33       7
..          ...    ...   ...     ...
938  09-02-1991  17:30    33       7
939  09-02-1991  23:00    48     155
940  09-03-1991   7:20    58     110
941  09-03-1991   7:20    33       9
942  09-03-1991   7:20    34      16

[943 rows x 4 columns]

In [16]:
allDates = patient_01[['date']]

In [17]:
allDates

           date
0    04-21-1991
1    04-21-1991
2    04-21-1991
3    04-21-1991
4    04-21-1991
..          ...
938  09-02-1991
939  09-02-1991
940  09-03-1991
941  09-03-1991
942  09-03-1991

[943 rows x 1 columns]

In [18]:
allTimes = patient_01[['time']]

In [19]:
dateTime = [allDates, allTimes]

In [20]:
dateTime

[           date
 0    04-21-1991
 1    04-21-1991
 2    04-21-1991
 3    04-21-1991
 4    04-21-1991
 ..          ...
 938  09-02-1991
 939  09-02-1991
 940  09-03-1991
 941  09-03-1991
 942  09-03-1991

 [943 rows x 1 columns],
       time
 0     9:09
 1     9:09
 2     9:09
 3    17:08
 4    17:08
 ..     ...
 938  17:30
 939  23:00
 940   7:20
 941   7:20
 942   7:20

 [943 rows x 1 columns]]

In [21]:
code_33

           date   time  code  volume
1    04-21-1991   9:09    33       9
4    04-21-1991  17:08    33       7
7    04-22-1991   7:35    33      10
9    04-22-1991  13:40    33       2
11   04-22-1991  16:56    33       7
..          ...    ...   ...     ...
931  09-01-1991  17:41    33       7
934  09-02-1991   8:51    33       9
936  09-02-1991  13:00    33       4
938  09-02-1991  17:30    33       7
941  09-03-1991   7:20    33       9

[384 rows x 4 columns]

In [22]:
patient_01

           date   time  code  volume
0    04-21-1991   9:09    58     100
1    04-21-1991   9:09    33       9
2    04-21-1991   9:09    34      13
3    04-21-1991  17:08    62     119
4    04-21-1991  17:08    33       7
..          ...    ...   ...     ...
938  09-02-1991  17:30    33       7
939  09-02-1991  23:00    48     155
940  09-03-1991   7:20    58     110
941  09-03-1991   7:20    33       9
942  09-03-1991   7:20    34      16

[943 rows x 4 columns]

In [23]:
len(patient_01)

943

In [24]:
import numpy as np

In [25]:
record_01 = np.array(patient_01)

In [26]:
record_01

array([['04-21-1991', '9:09', 58, 100],
       ['04-21-1991', '9:09', 33, 9],
       ['04-21-1991', '9:09', 34, 13],
       ...,
       ['09-03-1991', '7:20', 58, 110],
       ['09-03-1991', '7:20', 33, 9],
       ['09-03-1991', '7:20', 34, 16]], dtype=object)

In [27]:
for data in range(0, len(record_01)):
                  print(record_01[data][0])

04-21-1991
04-21-1991
04-21-1991
04-21-1991
04-21-1991
04-21-1991
04-22-1991
04-22-1991
04-22-1991
04-22-1991
04-22-1991
04-22-1991
04-23-1991
04-23-1991
04-23-1991
04-23-1991
04-23-1991
04-24-1991
04-24-1991
04-24-1991
04-24-1991
04-24-1991
04-24-1991
04-24-1991
04-25-1991
04-25-1991
04-25-1991
04-25-1991
04-25-1991
04-25-1991
04-25-1991
04-25-1991
04-26-1991
04-26-1991
04-26-1991
04-26-1991
04-26-1991
04-26-1991
04-27-1991
04-27-1991
04-27-1991
04-27-1991
04-27-1991
04-28-1991
04-28-1991
04-28-1991
04-28-1991
04-28-1991
04-28-1991
04-29-1991
04-29-1991
04-29-1991
04-29-1991
04-29-1991
04-29-1991
04-29-1991
04-29-1991
04-29-1991
04-30-1991
04-30-1991
04-30-1991
04-30-1991
04-30-1991
04-30-1991
04-30-1991
04-30-1991
04-30-1991
05-01-1991
05-01-1991
05-01-1991
05-01-1991
05-01-1991
05-01-1991
05-01-1991
05-01-1991
05-02-1991
05-02-1991
05-02-1991
05-02-1991
05-02-1991
05-02-1991
05-02-1991
05-03-1991
05-03-1991
05-03-1991
05-03-1991
05-03-1991
05-03-1991
05-03-1991
05-03-1991
05-03-1991
05-04-1991
05-04-1991
05-04-1991
05-04-1991
05-04-1991
05-04-1991
05-05-1991
05-05-1991
05-05-1991
05-05-1991
05-05-1991
05-05-1991
05-05-1991
05-05-1991
05-05-1991
05-06-1991
05-06-1991
05-06-1991
05-06-1991
05-06-1991
05-06-1991
05-07-1991
05-07-1991
05-07-1991
05-07-1991
05-07-1991
05-08-1991
05-08-1991
05-08-1991
05-08-1991
05-08-1991
05-08-1991
05-08-1991
05-09-1991
05-09-1991
05-09-1991
05-09-1991
05-09-1991
05-10-1991
05-10-1991
05-10-1991
05-10-1991
05-10-1991
05-10-1991
05-10-1991
05-10-1991
05-11-1991
05-11-1991
05-11-1991
05-11-1991
05-11-1991
05-11-1991
05-11-1991
05-12-1991
05-12-1991
05-12-1991
05-12-1991
05-12-1991
05-12-1991
05-13-1991
05-13-1991
05-13-1991
05-13-1991
05-13-1991
05-13-1991
05-13-1991
05-14-1991
05-14-1991
05-14-1991
05-14-1991
05-14-1991
05-14-1991
05-14-1991
05-14-1991
05-15-1991
05-15-1991
05-15-1991
05-15-1991
05-15-1991
05-15-1991
05-16-1991
05-16-1991
05-16-1991
05-16-1991
05-16-1991
05-16-1991
05-17-1991
05-17-1991
05-17-1991
05-17-1991
05-17-1991
05-17-1991
05-18-1991
05-18-1991
05-18-1991
05-18-1991
05-18-1991
05-18-1991
05-19-1991
05-19-1991
05-19-1991
05-19-1991
05-19-1991
05-19-1991
05-20-1991
05-20-1991
05-20-1991
05-20-1991
05-20-1991
05-20-1991
05-21-1991
05-21-1991
05-21-1991
05-21-1991
05-21-1991
05-21-1991
05-22-1991
05-22-1991
05-22-1991
05-22-1991
05-22-1991
05-22-1991
05-23-1991
05-23-1991
05-23-1991
05-23-1991
05-23-1991
05-23-1991
05-23-1991
05-24-1991
05-24-1991
05-24-1991
05-24-1991
05-24-1991
05-24-1991
05-25-1991
05-25-1991
05-25-1991
05-25-1991
05-25-1991
05-25-1991
05-25-1991
05-25-1991
05-26-1991
05-26-1991
05-26-1991
05-26-1991
05-26-1991
05-26-1991
05-26-1991
05-27-1991
05-27-1991
05-27-1991
05-27-1991
05-27-1991
05-27-1991
05-27-1991
05-28-1991
05-28-1991
05-28-1991
05-28-1991
05-28-1991
05-28-1991
05-28-1991
05-29-1991
05-29-1991
05-29-1991
05-29-1991
05-29-1991
05-29-1991
05-29-1991
05-30-1991
05-30-1991
05-30-1991
05-30-1991
05-30-1991
05-30-1991
05-30-1991
05-30-1991
05-31-1991
05-31-1991
05-31-1991
05-31-1991
05-31-1991
05-31-1991
05-31-1991
06-01-1991
06-01-1991
06-01-1991
06-01-1991
06-01-1991
06-01-1991
06-01-1991
06-01-1991
06-02-1991
06-02-1991
06-02-1991
06-02-1991
06-02-1991
06-02-1991
06-02-1991
06-03-1991
06-03-1991
06-03-1991
06-03-1991
06-03-1991
06-03-1991
06-03-1991
06-03-1991
06-04-1991
06-04-1991
06-04-1991
06-04-1991
06-05-1991
06-05-1991
06-05-1991
06-05-1991
06-05-1991
06-05-1991
06-05-1991
06-05-1991
06-05-1991
06-06-1991
06-06-1991
06-06-1991
06-06-1991
06-06-1991
06-06-1991
06-06-1991
06-06-1991
06-07-1991
06-07-1991
06-07-1991
06-07-1991
06-07-1991
06-07-1991
06-07-1991
06-07-1991
06-07-1991
06-08-1991
06-08-1991
06-08-1991
06-08-1991
06-08-1991
06-08-1991
06-08-1991
06-09-1991
06-09-1991
06-09-1991
06-09-1991
06-09-1991
06-09-1991
06-09-1991
06-09-1991
06-10-1991
06-10-1991
06-10-1991
06-10-1991
06-10-1991
06-10-1991
06-10-1991
06-10-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-11-1991
06-12-1991
06-12-1991
06-12-1991
06-12-1991
06-12-1991
06-12-1991
06-12-1991
06-12-1991
06-12-1991
06-13-1991
06-13-1991
06-13-1991
06-13-1991
06-13-1991
06-13-1991
06-13-1991
06-14-1991
06-14-1991
06-14-1991
06-14-1991
06-14-1991
06-14-1991
06-14-1991
06-14-1991
06-14-1991
06-15-1991
06-15-1991
06-15-1991
06-15-1991
06-15-1991
06-15-1991
06-15-1991
06-15-1991
06-16-1991
06-16-1991
06-16-1991
06-16-1991
06-16-1991
06-16-1991
06-17-1991
06-17-1991
06-17-1991
06-17-1991
06-17-1991
06-17-1991
06-17-1991
06-18-1991
06-18-1991
06-18-1991
06-18-1991
06-18-1991
06-18-1991
06-18-1991
06-19-1991
06-19-1991
06-19-1991
06-19-1991
06-19-1991
06-19-1991
06-19-1991
06-20-1991
06-20-1991
06-20-1991
06-20-1991
06-20-1991
06-20-1991
06-20-1991
06-20-1991
06-21-1991
06-21-1991
06-21-1991
06-21-1991
06-21-1991
06-21-1991
06-21-1991
06-22-1991
06-22-1991
06-22-1991
06-22-1991
06-22-1991
06-22-1991
06-22-1991
06-22-1991
06-23-1991
06-23-1991
06-23-1991
06-23-1991
06-23-1991
06-23-1991
06-23-1991
06-23-1991
06-24-1991
06-24-1991
06-24-1991
06-24-1991
06-24-1991
06-24-1991
06-25-1991
06-25-1991
06-25-1991
06-25-1991
06-25-1991
06-25-1991
06-25-1991
06-25-1991
06-25-1991
06-26-1991
06-26-1991
06-26-1991
06-26-1991
06-26-1991
06-26-1991
06-26-1991
06-26-1991
06-27-1991
06-27-1991
06-27-1991
06-27-1991
06-27-1991
06-27-1991
06-27-1991
06-28-1991
06-28-1991
06-28-1991
06-28-1991
06-28-1991
06-28-1991
06-28-1991
06-28-1991
06-29-1991
06-29-1991
06-29-1991
06-29-1991
06-29-1991
06-29-1991
06-29-1991
06-30-1991
06-30-1991
06-30-1991
06-30-1991
06-30-1991
06-30-1991
06-30-1991
06-30-1991
06-30-1991
07-01-1991
07-01-1991
07-01-1991
07-01-1991
07-01-1991
07-01-1991
07-01-1991
07-01-1991
07-02-1991
07-02-1991
07-02-1991
07-02-1991
07-02-1991
07-02-1991
07-02-1991
07-02-1991
07-02-1991
07-03-1991
07-03-1991
07-03-1991
07-03-1991
07-03-1991
07-03-1991
07-03-1991
07-03-1991
07-04-1991
07-04-1991
07-04-1991
07-04-1991
07-04-1991
07-04-1991
07-04-1991
07-04-1991
07-04-1991
07-05-1991
07-05-1991
07-05-1991
07-05-1991
07-05-1991
07-05-1991
07-05-1991
07-05-1991
07-06-1991
07-06-1991
07-06-1991
07-06-1991
07-06-1991
07-06-1991
07-06-1991
07-07-1991
07-07-1991
07-07-1991
07-07-1991
07-07-1991
07-07-1991
07-07-1991
07-07-1991
07-07-1991
07-08-1991
07-08-1991
07-08-1991
07-08-1991
07-08-1991
07-08-1991
07-08-1991
07-09-1991
07-09-1991
07-09-1991
07-09-1991
07-09-1991
07-09-1991
07-09-1991
07-09-1991
07-09-1991
07-10-1991
07-10-1991
07-10-1991
07-10-1991
07-10-1991
07-10-1991
07-10-1991
07-10-1991
07-11-1991
07-11-1991
07-11-1991
07-11-1991
07-11-1991
07-11-1991
07-11-1991
07-12-1991
07-12-1991
07-12-1991
07-12-1991
07-12-1991
07-12-1991
07-12-1991
07-13-1991
07-13-1991
07-13-1991
07-13-1991
07-13-1991
07-13-1991
07-13-1991
07-14-1991
07-14-1991
07-14-1991
07-14-1991
07-14-1991
07-14-1991
07-15-1991
07-15-1991
07-15-1991
07-15-1991
07-15-1991
07-15-1991
07-15-1991
07-15-1991
07-16-1991
07-16-1991
07-16-1991
07-16-1991
07-16-1991
07-16-1991
07-16-1991
07-16-1991
07-17-1991
07-17-1991
07-17-1991
07-17-1991
07-17-1991
07-17-1991
07-17-1991
07-17-1991
07-18-1991
07-18-1991
07-18-1991
07-18-1991
07-18-1991
07-18-1991
07-18-1991
07-18-1991
07-19-1991
07-19-1991
07-19-1991
07-19-1991
07-19-1991
07-19-1991
07-20-1991
07-20-1991
07-20-1991
07-20-1991
07-20-1991
07-20-1991
07-20-1991
07-21-1991
07-21-1991
07-21-1991
07-21-1991
07-21-1991
07-21-1991
07-21-1991
07-22-1991
07-22-1991
07-22-1991
07-22-1991
07-22-1991
07-22-1991
07-23-1991
07-23-1991
07-23-1991
07-23-1991
07-23-1991
07-23-1991
07-24-1991
07-24-1991
07-24-1991
07-24-1991
07-24-1991
07-24-1991
07-24-1991
07-24-1991
07-25-1991
07-25-1991
07-25-1991
07-25-1991
07-25-1991
07-25-1991
07-25-1991
07-26-1991
07-26-1991
07-26-1991
07-26-1991
07-26-1991
07-27-1991
07-27-1991
07-27-1991
07-27-1991
07-27-1991
07-27-1991
07-28-1991
07-28-1991
07-28-1991
07-28-1991
07-28-1991
07-28-1991
07-29-1991
07-29-1991
07-29-1991
07-29-1991
07-29-1991
07-29-1991
07-29-1991
07-29-1991
07-30-1991
07-30-1991
07-30-1991
07-30-1991
07-30-1991
07-30-1991
07-30-1991
07-31-1991
07-31-1991
07-31-1991
07-31-1991
07-31-1991
07-31-1991
07-31-1991
08-01-1991
08-01-1991
08-01-1991
08-01-1991
08-01-1991
08-01-1991
08-01-1991
08-01-1991
08-02-1991
08-02-1991
08-02-1991
08-02-1991
08-02-1991
08-02-1991
08-02-1991
08-02-1991
08-02-1991
08-03-1991
08-03-1991
08-03-1991
08-03-1991
08-04-1991
08-04-1991
08-04-1991
08-04-1991
08-04-1991
08-05-1991
08-05-1991
08-05-1991
08-05-1991
08-05-1991
08-05-1991
08-05-1991
08-06-1991
08-06-1991
08-06-1991
08-06-1991
08-06-1991
08-06-1991
08-06-1991
08-07-1991
08-07-1991
08-07-1991
08-07-1991
08-07-1991
08-07-1991
08-07-1991
08-08-1991
08-08-1991
08-08-1991
08-08-1991
08-08-1991
08-09-1991
08-09-1991
08-09-1991
08-09-1991
08-09-1991
08-09-1991
08-10-1991
08-10-1991
08-10-1991
08-10-1991
08-10-1991
08-10-1991
08-11-1991
08-11-1991
08-11-1991
08-12-1991
08-12-1991
08-12-1991
08-12-1991
08-12-1991
08-13-1991
08-13-1991
08-13-1991
08-13-1991
08-13-1991
08-13-1991
08-14-1991
08-14-1991
08-14-1991
08-14-1991
08-14-1991
08-14-1991
08-15-1991
08-15-1991
08-15-1991
08-15-1991
08-15-1991
08-15-1991
08-15-1991
08-16-1991
08-16-1991
08-16-1991
08-16-1991
08-16-1991
08-16-1991
08-16-1991
08-16-1991
08-17-1991
08-17-1991
08-17-1991
08-17-1991
08-18-1991
08-18-1991
08-18-1991
08-18-1991
08-18-1991
08-18-1991
08-19-1991
08-19-1991
08-19-1991
08-19-1991
08-19-1991
08-19-1991
08-19-1991
08-20-1991
08-20-1991
08-20-1991
08-20-1991
08-20-1991
08-20-1991
08-21-1991
08-21-1991
08-21-1991
08-21-1991
08-21-1991
08-22-1991
08-22-1991
08-22-1991
08-22-1991
08-22-1991
08-22-1991
08-23-1991
08-23-1991
08-23-1991
08-23-1991
08-23-1991
08-24-1991
08-24-1991
08-24-1991
08-24-1991
08-24-1991
08-24-1991
08-25-1991
08-25-1991
08-25-1991
08-25-1991
08-25-1991
08-25-1991
08-25-1991
08-25-1991
08-25-1991
08-26-1991
08-26-1991
08-26-1991
08-26-1991
08-26-1991
08-26-1991
08-26-1991
08-27-1991
08-27-1991
08-27-1991
08-27-1991
08-27-1991
08-27-1991
08-28-1991
08-28-1991
08-28-1991
08-28-1991
08-28-1991
08-28-1991
08-29-1991
08-29-1991
08-29-1991
08-29-1991
08-29-1991
08-30-1991
08-30-1991
08-30-1991
08-30-1991
08-30-1991
08-30-1991
08-31-1991
08-31-1991
08-31-1991
08-31-1991
08-31-1991
08-31-1991
08-31-1991
09-01-1991
09-01-1991
09-01-1991
09-01-1991
09-01-1991
09-01-1991
09-01-1991
09-02-1991
09-02-1991
09-02-1991
09-02-1991
09-02-1991
09-02-1991
09-02-1991
09-03-1991
09-03-1991
09-03-1991

In [28]:
len(patient_01['date'])

943

In [29]:
patient_01['date']

0      04-21-1991
1      04-21-1991
2      04-21-1991
3      04-21-1991
4      04-21-1991
          ...
938    09-02-1991
939    09-02-1991
940    09-03-1991
941    09-03-1991
942    09-03-1991
Name: date, Length: 943, dtype: object

In [30]:
totalDays = pd.unique(patient_01['date'])

In [31]:
totalDays

array(['04-21-1991', '04-22-1991', '04-23-1991', '04-24-1991',
       '04-25-1991', '04-26-1991', '04-27-1991', '04-28-1991',
       '04-29-1991', '04-30-1991', '05-01-1991', '05-02-1991',
       '05-03-1991', '05-04-1991', '05-05-1991', '05-06-1991',
       '05-07-1991', '05-08-1991', '05-09-1991', '05-10-1991',
       '05-11-1991', '05-12-1991', '05-13-1991', '05-14-1991',
       '05-15-1991', '05-16-1991', '05-17-1991', '05-18-1991',
       '05-19-1991', '05-20-1991', '05-21-1991', '05-22-1991',
       '05-23-1991', '05-24-1991', '05-25-1991', '05-26-1991',
       '05-27-1991', '05-28-1991', '05-29-1991', '05-30-1991',
       '05-31-1991', '06-01-1991', '06-02-1991', '06-03-1991',
       '06-04-1991', '06-05-1991', '06-06-1991', '06-07-1991',
       '06-08-1991', '06-09-1991', '06-10-1991', '06-11-1991',
       '06-12-1991', '06-13-1991', '06-14-1991', '06-15-1991',
       '06-16-1991', '06-17-1991', '06-18-1991', '06-19-1991',
       '06-20-1991', '06-21-1991', '06-22-1991', '06-23-1991',
       '06-24-1991', '06-25-1991', '06-26-1991', '06-27-1991',
       '06-28-1991', '06-29-1991', '06-30-1991', '07-01-1991',
       '07-02-1991', '07-03-1991', '07-04-1991', '07-05-1991',
       '07-06-1991', '07-07-1991', '07-08-1991', '07-09-1991',
       '07-10-1991', '07-11-1991', '07-12-1991', '07-13-1991',
       '07-14-1991', '07-15-1991', '07-16-1991', '07-17-1991',
       '07-18-1991', '07-19-1991', '07-20-1991', '07-21-1991',
       '07-22-1991', '07-23-1991', '07-24-1991', '07-25-1991',
       '07-26-1991', '07-27-1991', '07-28-1991', '07-29-1991',
       '07-30-1991', '07-31-1991', '08-01-1991', '08-02-1991',
       '08-03-1991', '08-04-1991', '08-05-1991', '08-06-1991',
       '08-07-1991', '08-08-1991', '08-09-1991', '08-10-1991',
       '08-11-1991', '08-12-1991', '08-13-1991', '08-14-1991',
       '08-15-1991', '08-16-1991', '08-17-1991', '08-18-1991',
       '08-19-1991', '08-20-1991', '08-21-1991', '08-22-1991',
       '08-23-1991', '08-24-1991', '08-25-1991', '08-26-1991',
       '08-27-1991', '08-28-1991', '08-29-1991', '08-30-1991',
       '08-31-1991', '09-01-1991', '09-02-1991', '09-03-1991'],
      dtype=object)

In [32]:
records['date'] = totalDays

In [33]:
records['id'] = 'patient_01'

In [34]:
records

           date          id
0    04-21-1991  patient_01
1    04-22-1991  patient_01
2    04-23-1991  patient_01
3    04-24-1991  patient_01
4    04-25-1991  patient_01
..          ...         ...
131  08-30-1991  patient_01
132  08-31-1991  patient_01
133  09-01-1991  patient_01
134  09-02-1991  patient_01
135  09-03-1991  patient_01

[136 rows x 2 columns]

In [35]:
records

           date          id
0    04-21-1991  patient_01
1    04-22-1991  patient_01
2    04-23-1991  patient_01
3    04-24-1991  patient_01
4    04-25-1991  patient_01
..          ...         ...
131  08-30-1991  patient_01
132  08-31-1991  patient_01
133  09-01-1991  patient_01
134  09-02-1991  patient_01
135  09-03-1991  patient_01

[136 rows x 2 columns]

In [36]:
code_33

           date   time  code  volume
1    04-21-1991   9:09    33       9
4    04-21-1991  17:08    33       7
7    04-22-1991   7:35    33      10
9    04-22-1991  13:40    33       2
11   04-22-1991  16:56    33       7
..          ...    ...   ...     ...
931  09-01-1991  17:41    33       7
934  09-02-1991   8:51    33       9
936  09-02-1991  13:00    33       4
938  09-02-1991  17:30    33       7
941  09-03-1991   7:20    33       9

[384 rows x 4 columns]

In [37]:
records[33] = code_33['volume']

In [38]:
records

           date          id   33
0    04-21-1991  patient_01  NaN
1    04-22-1991  patient_01  9.0
2    04-23-1991  patient_01  NaN
3    04-24-1991  patient_01  NaN
4    04-25-1991  patient_01  7.0
..          ...         ...  ...
131  08-30-1991  patient_01  NaN
132  08-31-1991  patient_01  4.0
133  09-01-1991  patient_01  NaN
134  09-02-1991  patient_01  NaN
135  09-03-1991  patient_01  8.0

[136 rows x 3 columns]

In [39]:
records['time'] = patient_01['time']

In [40]:
records

           date          id   33   time
0    04-21-1991  patient_01  NaN   9:09
1    04-22-1991  patient_01  9.0   9:09
2    04-23-1991  patient_01  NaN   9:09
3    04-24-1991  patient_01  NaN  17:08
4    04-25-1991  patient_01  7.0  17:08
..          ...         ...  ...    ...
131  08-30-1991  patient_01  NaN   7:40
132  08-31-1991  patient_01  4.0  13:30
133  09-01-1991  patient_01  NaN  14:15
134  09-02-1991  patient_01  NaN  17:30
135  09-03-1991  patient_01  8.0  17:30

[136 rows x 4 columns]

In [41]:
code_33

           date   time  code  volume
1    04-21-1991   9:09    33       9
4    04-21-1991  17:08    33       7
7    04-22-1991   7:35    33      10
9    04-22-1991  13:40    33       2
11   04-22-1991  16:56    33       7
..          ...    ...   ...     ...
931  09-01-1991  17:41    33       7
934  09-02-1991   8:51    33       9
936  09-02-1991  13:00    33       4
938  09-02-1991  17:30    33       7
941  09-03-1991   7:20    33       9

[384 rows x 4 columns]

In [42]:
records[34] = code_34['volume']

In [43]:
records

           date          id   33   time    34
0    04-21-1991  patient_01  NaN   9:09   NaN
1    04-22-1991  patient_01  9.0   9:09   NaN
2    04-23-1991  patient_01  NaN   9:09  13.0
3    04-24-1991  patient_01  NaN  17:08   NaN
4    04-25-1991  patient_01  7.0  17:08   NaN
..          ...         ...  ...    ...   ...
131  08-30-1991  patient_01  NaN   7:40  14.0
132  08-31-1991  patient_01  4.0  13:30   NaN
133  09-01-1991  patient_01  NaN  14:15   NaN
134  09-02-1991  patient_01  NaN  17:30   NaN
135  09-03-1991  patient_01  8.0  17:30   NaN

[136 rows x 5 columns]

In [44]:
code_35 = patient_01[patient_01['code'] == 35]

In [45]:
code_35

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [46]:
records[35] = code_35['volume']

In [47]:
records

           date          id   33   time    34  35
0    04-21-1991  patient_01  NaN   9:09   NaN NaN
1    04-22-1991  patient_01  9.0   9:09   NaN NaN
2    04-23-1991  patient_01  NaN   9:09  13.0 NaN
3    04-24-1991  patient_01  NaN  17:08   NaN NaN
4    04-25-1991  patient_01  7.0  17:08   NaN NaN
..          ...         ...  ...    ...   ...  ..
131  08-30-1991  patient_01  NaN   7:40  14.0 NaN
132  08-31-1991  patient_01  4.0  13:30   NaN NaN
133  09-01-1991  patient_01  NaN  14:15   NaN NaN
134  09-02-1991  patient_01  NaN  17:30   NaN NaN
135  09-03-1991  patient_01  8.0  17:30   NaN NaN

[136 rows x 6 columns]

In [48]:
code_48 = patient_01[patient_01['code'] == 48]

In [49]:
code_57 = patient_01[patient_01['code'] == 57]

In [50]:
code_58 = patient_01[patient_01['code'] == 58]

In [51]:
code_59 = patient_01[patient_01['code'] == 59]

In [52]:
code_60 = patient_01[patient_01['code'] == 60]

In [53]:
code_61 = patient_01[patient_01['code'] == 61]

In [54]:
code_62 = patient_01[patient_01['code'] == 62]

In [55]:
code_63 = patient_01[patient_01['code'] == 63]

In [56]:
code_64 = patient_01[patient_01['code'] == 64]

In [57]:
code_65 = patient_01[patient_01['code'] == 65]

In [58]:
code_66 = patient_01[patient_01['code'] == 66]

In [59]:
code_67 = patient_01[patient_01['code'] == 67]

In [60]:
code_68 = patient_01[patient_01['code'] == 68]

In [61]:
code_69 = patient_01[patient_01['code'] == 69]

In [62]:
code_70 = patient_01[patient_01['code'] == 70]

In [63]:
code_71 = patient_01[patient_01['code'] == 71]

In [64]:
code_72 = patient_01[patient_01['code'] == 72]

In [65]:
records[48] = code_48['volume']

In [66]:
records[57] = code_57['volume']

In [67]:
records[58] = code_58['volume']

In [68]:
records[59] = code_59['volume']

In [69]:
records[60] = code_60['volume']

In [70]:
records[61] = code_61['volume']

In [71]:
records[62] = code_62['volume']

In [72]:
records[63] = code_63['volume']

In [73]:
records

,date,id,33,time,34,35,48,57,58,59,60,61,62,63
0,04-21-1991,patient_01,NaN,9:09,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN
1,04-22-1991,patient_01,9.0,9:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,04-23-1991,patient_01,NaN,9:09,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04-24-1991,patient_01,NaN,17:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0,NaN
4,04-25-1991,patient_01,7.0,17:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,08-30-1991,patient_01,NaN,7:40,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,08-31-1991,patient_01,4.0,13:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,09-01-1991,patient_01,NaN,14:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,09-02-1991,patient_01,NaN,17:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,343.0,NaN
135,09-03-1991,patient_01,8.0,17:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
code_63

Empty DataFrame
Columns: [date, time, code, volume]
Index: []

In [75]:
records[64] = code_64['volume']

In [76]:
records[65] = code_65['volume']

In [77]:
records[66] = code_66['volume']

In [78]:
records[67] = code_67['volume']

In [79]:
records[68] = code_68['volume']

In [80]:
records[69] = code_69['volume']

In [81]:
records[70] = code_70['volume']

In [82]:
records[71] = code_71['volume']

In [83]:
records[72] = code_72['volume']

In [84]:
records

,date,id,33,time,34,35,48,57,58,59,...,63,64,65,66,67,68,69,70,71,72
0,04-21-1991,patient_01,NaN,9:09,NaN,NaN,NaN,NaN,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-22-1991,patient_01,9.0,9:09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,04-23-1991,patient_01,NaN,9:09,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04-24-1991,patient_01,NaN,17:08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04-25-1991,patient_01,7.0,17:08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,08-30-1991,patient_01,NaN,7:40,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,08-31-1991,patient_01,4.0,13:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,09-01-1991,patient_01,NaN,14:15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,09-02-1991,patient_01,NaN,17:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,09-03-1991,patient_01,8.0,17:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
records['pid'] = 'Patient_01'

In [86]:
records

,date,id,33,time,34,35,48,57,58,59,...,64,65,66,67,68,69,70,71,72,pid
0,04-21-1991,patient_01,NaN,9:09,NaN,NaN,NaN,NaN,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
1,04-22-1991,patient_01,9.0,9:09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
2,04-23-1991,patient_01,NaN,9:09,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
3,04-24-1991,patient_01,NaN,17:08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
4,04-25-1991,patient_01,7.0,17:08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,08-30-1991,patient_01,NaN,7:40,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
132,08-31-1991,patient_01,4.0,13:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
133,09-01-1991,patient_01,NaN,14:15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
134,09-02-1991,patient_01,NaN,17:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
135,09-03-1991,patient_01,8.0,17:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01

In [87]:
rec = records.to_csv(r'p01.csv', index = False)

In [88]:
rec_01 = pd.read_csv('p01.csv')

In [89]:
rec_01

,date,id,33,time,34,35,48,57,58,59,...,64,65,66,67,68,69,70,71,72,pid
0,04-21-1991,patient_01,NaN,9:09,NaN,NaN,NaN,NaN,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
1,04-22-1991,patient_01,9.0,9:09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
2,04-23-1991,patient_01,NaN,9:09,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
3,04-24-1991,patient_01,NaN,17:08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
4,04-25-1991,patient_01,7.0,17:08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,08-30-1991,patient_01,NaN,7:40,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
132,08-31-1991,patient_01,4.0,13:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
133,09-01-1991,patient_01,NaN,14:15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
134,09-02-1991,patient_01,NaN,17:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01
135,09-03-1991,patient_01,8.0,17:30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Patient_01

In [90]:
code_33

           date   time  code  volume
1    04-21-1991   9:09    33       9
4    04-21-1991  17:08    33       7
7    04-22-1991   7:35    33      10
9    04-22-1991  13:40    33       2
11   04-22-1991  16:56    33       7
..          ...    ...   ...     ...
931  09-01-1991  17:41    33       7
934  09-02-1991   8:51    33       9
936  09-02-1991  13:00    33       4
938  09-02-1991  17:30    33       7
941  09-03-1991   7:20    33       9

[384 rows x 4 columns]

In [99]:
new_01 = pd.read_csv('PatientRecords.csv')

In [100]:
new_01['date'] = patient_01['date']

In [103]:
new_01

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,NaN,04-21-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,04-21-1991,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,04-21-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,04-21-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,04-21-1991,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,NaN,09-02-1991,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,09-02-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,09-03-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,09-03-1991,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,09-03-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
new_01['33'] = code_33['volume']

In [104]:
new_01['34'] = code_34['volume']

In [105]:
new_01['35'] = code_35['volume']

In [106]:
new_01['48'] = code_48['volume']

In [107]:
new_01['57'] = code_57['volume']

In [108]:
new_01['58'] = code_58['volume']

In [109]:
new_01['59'] = code_59['volume']

In [110]:
new_01['60'] = code_60['volume']

In [111]:
new_01['61'] = code_61['volume']

In [112]:
new_01['62'] = code_62['volume']

In [113]:
new_01['63'] = code_63['volume']

In [114]:
new_01['64'] = code_64['volume']

In [115]:
new_01['65'] = code_65['volume']

In [116]:
new_01['66'] = code_66['volume']

In [117]:
new_01['67'] = code_67['volume']

In [118]:
new_01['68'] = code_68['volume']

In [119]:
new_01['69'] = code_69['volume']

In [120]:
new_01['70'] = code_70['volume']

In [121]:
new_01['71'] = code_71['volume']

In [122]:
new_01['72'] = code_72['volume']

In [123]:
new_01

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,NaN,04-21-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,04-21-1991,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,04-21-1991,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,04-21-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,04-21-1991,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,NaN,09-02-1991,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,09-02-1991,NaN,NaN,NaN,NaN,NaN,155.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,09-03-1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,09-03-1991,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,09-03-1991,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
new_01['id'] = 'Patient 01'

In [128]:
new_01['time'] = patient_01['time']

In [129]:
new_01

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 01,04-21-1991,9:09,NaN,NaN,NaN,NaN,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 01,04-21-1991,9:09,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 01,04-21-1991,9:09,NaN,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 01,04-21-1991,17:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 01,04-21-1991,17:08,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,Patient 01,09-02-1991,17:30,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,Patient 01,09-02-1991,23:00,NaN,NaN,NaN,NaN,155.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,Patient 01,09-03-1991,7:20,NaN,NaN,NaN,NaN,NaN,NaN,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,Patient 01,09-03-1991,7:20,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,Patient 01,09-03-1991,7:20,NaN,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
prec01 = new_01.to_csv(r'Prec01.csv', index = False)

In [133]:
prec01