In [1]:
import csv

import pandas as pd

patient_59 = pd.read_csv('Diabetes-Data/data-59',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_59[patient_59['code'] == 33]

code34 = patient_59[patient_59['code'] == 34]

code35 = patient_59[patient_59['code'] == 35]

code48 = patient_59[patient_59['code'] == 48]

code57 = patient_59[patient_59['code'] == 57]

code58 = patient_59[patient_59['code'] == 58]

code59 = patient_59[patient_59['code'] == 59]

code60 = patient_59[patient_59['code'] == 60]

code61 = patient_59[patient_59['code'] == 61]

code62 = patient_59[patient_59['code'] == 62]

code63 = patient_59[patient_59['code'] == 63]

code64 = patient_59[patient_59['code'] == 64]

code65 = patient_59[patient_59['code'] == 65]

code66 = patient_59[patient_59['code'] == 66]

code67 = patient_59[patient_59['code'] == 67]

code68 = patient_59[patient_59['code'] == 68]

code69 = patient_59[patient_59['code'] == 69]

code70 = patient_59[patient_59['code'] == 70]

code71 = patient_59[patient_59['code'] == 71]

code72 = patient_59[patient_59['code'] == 72]

code71

rec59 = pd.read_csv('PatientRecords.csv')

rec59

rec59['date'] = patient_59['date']

rec59['id'] = 'Patient 59'

rec59['time'] = patient_59['time']

rec59['33'] = code33['volume']

rec59['34'] = code34['volume']

rec59['35'] = code35['volume']

rec59['48'] = code48['volume']

rec59['57'] = code57['volume']

rec59['58'] = code58['volume']

rec59['59'] = code59['volume']

rec59['60'] = code60['volume']

rec59['61'] = code61['volume']

rec59['62'] = code62['volume']

rec59['63'] = code63['volume']

rec59['64'] = code64['volume']

rec59['65'] = code65['volume']

rec59['66'] = code66['volume']

rec59['67'] = code67['volume']

rec59['68'] = code68['volume']

rec59['69'] = code69['volume']

rec59['70']  = code70['volume']

rec59['71'] = code71['volume']

rec59['72'] = code72['volume']

rec59

patient_59

rec59.to_csv(r'Prec59.csv', index = False)

In [2]:
rec59

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 59,09-04-1990,05:35,NaN,NaN,NaN,NaN,NaN,NaN,266.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 59,09-04-1990,05:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,Patient 59,09-04-1990,05:37,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 59,09-04-1990,05:37,NaN,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 59,09-04-1990,11:52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 59,10-04-1990,11:21,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 59,10-04-1990,21:42,NaN,NaN,NaN,NaN,NaN,293.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 59,10-04-1990,21:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
298,Patient 59,10-04-1990,21:44,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 59,10-04-1990,21:44,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_59

           date   time  code  volume
0    09-04-1990  05:35    58     266
1    09-04-1990  05:37    67       0
2    09-04-1990  05:37    33       5
3    09-04-1990  05:37    35      12
4    09-04-1990  11:52    60     196
..          ...    ...   ...     ...
295  10-04-1990  11:21    33       3
296  10-04-1990  21:42    57     293
297  10-04-1990  21:43    67       0
298  10-04-1990  21:44    33       3
299  10-04-1990  21:44    34       7

[300 rows x 4 columns]