In [1]:
import csv

import pandas as pd

patient_43 = pd.read_csv('Diabetes-Data/data-43',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_43[patient_43['code'] == 33]

code34 = patient_43[patient_43['code'] == 34]

code35 = patient_43[patient_43['code'] == 35]

code48 = patient_43[patient_43['code'] == 48]

code57 = patient_43[patient_43['code'] == 57]

code58 = patient_43[patient_43['code'] == 58]

code59 = patient_43[patient_43['code'] == 59]

code60 = patient_43[patient_43['code'] == 60]

code61 = patient_43[patient_43['code'] == 61]

code62 = patient_43[patient_43['code'] == 62]

code63 = patient_43[patient_43['code'] == 63]

code64 = patient_43[patient_43['code'] == 64]

code65 = patient_43[patient_43['code'] == 65]

code66 = patient_43[patient_43['code'] == 66]

code67 = patient_43[patient_43['code'] == 67]

code68 = patient_43[patient_43['code'] == 68]

code69 = patient_43[patient_43['code'] == 69]

code70 = patient_43[patient_43['code'] == 70]

code71 = patient_43[patient_43['code'] == 71]

code72 = patient_43[patient_43['code'] == 72]

code71

rec43 = pd.read_csv('PatientRecords.csv')

rec43

rec43['date'] = patient_43['date']

rec43['id'] = 'Patient 43'

rec43['time'] = patient_43['time']

rec43['33'] = code33['volume']

rec43['34'] = code34['volume']

rec43['35'] = code35['volume']

rec43['48'] = code48['volume']

rec43['57'] = code57['volume']

rec43['58'] = code58['volume']

rec43['59'] = code59['volume']

rec43['60'] = code60['volume']

rec43['61'] = code61['volume']

rec43['62'] = code62['volume']

rec43['63'] = code63['volume']

rec43['64'] = code64['volume']

rec43['65'] = code65['volume']

rec43['66'] = code66['volume']

rec43['67'] = code67['volume']

rec43['68'] = code68['volume']

rec43['69'] = code69['volume']

rec43['70']  = code70['volume']

rec43['71'] = code71['volume']

rec43['72'] = code72['volume']

rec43

patient_43

rec43.to_csv(r'Prec43.csv', index = False)

In [2]:
rec43

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 43,07-13-1990,11:36,NaN,NaN,NaN,NaN,NaN,84.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 43,07-13-1990,11:39,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 43,07-13-1990,16:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 43,07-13-1990,16:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 43,07-13-1990,16:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 43,08-11-1990,20:57,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 43,08-11-1990,20:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 43,08-12-1990,06:01,NaN,NaN,NaN,NaN,NaN,NaN,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 43,08-12-1990,07:23,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 43,08-12-1990,07:23,NaN,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_43

           date   time  code  volume
0    07-13-1990  11:36    57      84
1    07-13-1990  11:39    33       3
2    07-13-1990  16:43    65       0
3    07-13-1990  16:44    66       0
4    07-13-1990  16:44    62     180
..          ...    ...   ...     ...
295  08-11-1990  20:57    34       6
296  08-11-1990  20:57    56     108
297  08-12-1990  06:01    58      82
298  08-12-1990  07:23    33       2
299  08-12-1990  07:23    34      17

[300 rows x 4 columns]