In [1]:
import csv

import pandas as pd

patient_66 = pd.read_csv('Diabetes-Data/data-66',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_66[patient_66['code'] == 33]

code34 = patient_66[patient_66['code'] == 34]

code35 = patient_66[patient_66['code'] == 35]

code48 = patient_66[patient_66['code'] == 48]

code57 = patient_66[patient_66['code'] == 57]

code58 = patient_66[patient_66['code'] == 58]

code59 = patient_66[patient_66['code'] == 59]

code60 = patient_66[patient_66['code'] == 60]

code61 = patient_66[patient_66['code'] == 61]

code62 = patient_66[patient_66['code'] == 62]

code63 = patient_66[patient_66['code'] == 63]

code64 = patient_66[patient_66['code'] == 64]

code65 = patient_66[patient_66['code'] == 65]

code66 = patient_66[patient_66['code'] == 66]

code67 = patient_66[patient_66['code'] == 67]

code68 = patient_66[patient_66['code'] == 68]

code69 = patient_66[patient_66['code'] == 69]

code70 = patient_66[patient_66['code'] == 70]

code71 = patient_66[patient_66['code'] == 71]

code72 = patient_66[patient_66['code'] == 72]

code71

rec66 = pd.read_csv('PatientRecords.csv')

rec66

rec66['date'] = patient_66['date']

rec66['id'] = 'Patient 66'

rec66['time'] = patient_66['time']

rec66['33'] = code33['volume']

rec66['34'] = code34['volume']

rec66['35'] = code35['volume']

rec66['48'] = code48['volume']

rec66['57'] = code57['volume']

rec66['58'] = code58['volume']

rec66['59'] = code59['volume']

rec66['60'] = code60['volume']

rec66['61'] = code61['volume']

rec66['62'] = code62['volume']

rec66['63'] = code63['volume']

rec66['64'] = code64['volume']

rec66['65'] = code65['volume']

rec66['66'] = code66['volume']

rec66['67'] = code67['volume']

rec66['68'] = code68['volume']

rec66['69'] = code69['volume']

rec66['70']  = code70['volume']

rec66['71'] = code71['volume']

rec66['72'] = code72['volume']

rec66

patient_66

rec66.to_csv(r'Prec66.csv', index = False)

In [2]:
rec66

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 66,11-05-1989,06:50,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 66,11-05-1989,06:50,NaN,NaN,26.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 66,11-05-1989,12:30,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 66,11-05-1989,18:45,13.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 66,11-05-1989,06:50,NaN,NaN,NaN,NaN,NaN,112.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Patient 66,11-24-1989,18:00,NaN,NaN,NaN,NaN,NaN,189.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Patient 66,11-24-1989,22:00,NaN,NaN,NaN,NaN,NaN,171.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Patient 66,11-24-1989,09:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
237,Patient 66,11-24-1989,13:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
238,Patient 66,11-24-1989,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_66

           date   time  code  volume
0    11-05-1989  06:50    33      15
1    11-05-1989  06:50    35      26
2    11-05-1989  12:30    33      10
3    11-05-1989  18:45    33      13
4    11-05-1989  06:50    57     112
..          ...    ...   ...     ...
234  11-24-1989  18:00    57     189
235  11-24-1989  22:00    57     171
236  11-24-1989  09:30    66       0
237  11-24-1989  13:30    66       0
238  11-24-1989  18:00    66       0

[239 rows x 4 columns]