In [1]:
import csv

import pandas as pd

patient_29 = pd.read_csv('Diabetes-Data/data-29',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_29[patient_29['code'] == 33]

code34 = patient_29[patient_29['code'] == 34]

code35 = patient_29[patient_29['code'] == 35]

code48 = patient_29[patient_29['code'] == 48]

code57 = patient_29[patient_29['code'] == 57]

code58 = patient_29[patient_29['code'] == 58]

code59 = patient_29[patient_29['code'] == 59]

code60 = patient_29[patient_29['code'] == 60]

code61 = patient_29[patient_29['code'] == 61]

code62 = patient_29[patient_29['code'] == 62]

code63 = patient_29[patient_29['code'] == 63]

code64 = patient_29[patient_29['code'] == 64]

code65 = patient_29[patient_29['code'] == 65]

code66 = patient_29[patient_29['code'] == 66]

code67 = patient_29[patient_29['code'] == 67]

code68 = patient_29[patient_29['code'] == 68]

code69 = patient_29[patient_29['code'] == 69]

code70 = patient_29[patient_29['code'] == 70]

code71 = patient_29[patient_29['code'] == 71]

code72 = patient_29[patient_29['code'] == 72]

code71

rec29 = pd.read_csv('PatientRecords.csv')

rec29

rec29['date'] = patient_29['date']

rec29['id'] = 'Patient 29'

rec29['time'] = patient_29['time']

rec29['33'] = code33['volume']

rec29['34'] = code34['volume']

rec29['35'] = code35['volume']

rec29['48'] = code48['volume']

rec29['57'] = code57['volume']

rec29['58'] = code58['volume']

rec29['59'] = code59['volume']

rec29['60'] = code60['volume']

rec29['61'] = code61['volume']

rec29['62'] = code62['volume']

rec29['63'] = code63['volume']

rec29['64'] = code64['volume']

rec29['65'] = code65['volume']

rec29['66'] = code66['volume']

rec29['67'] = code67['volume']

rec29['68'] = code68['volume']

rec29['69'] = code69['volume']

rec29['70']  = code70['volume']

rec29['71'] = code71['volume']

rec29['72'] = code72['volume']

rec29

patient_29

rec29.to_csv(r'Prec29.csv', index = False)

In [2]:
rec29

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 29,04-29-1990,7:00,NaN,NaN,NaN,NaN,NaN,NaN,136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 29,04-29-1990,7:00,007,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 29,04-29-1990,7:00,NaN,018,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 29,04-29-1990,14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 29,04-29-1990,14:00,004,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Patient 29,12-16-1990,15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1285,Patient 29,12-16-1990,15:00,005,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1286,Patient 29,12-16-1990,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1287,Patient 29,12-16-1990,18:00,006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1288,Patient 29,12-16-1990,22:00,NaN,NaN,NaN,NaN,092,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_29

            date   time  code volume
0     04-29-1990   7:00    58    136
1     04-29-1990   7:00    33    007
2     04-29-1990   7:00    34    018
3     04-29-1990  14:00    60    062
4     04-29-1990  14:00    33    004
...          ...    ...   ...    ...
1284  12-16-1990  15:00    60    056
1285  12-16-1990  15:00    33    005
1286  12-16-1990  18:00    62    135
1287  12-16-1990  18:00    33    006
1288  12-16-1990  22:00    48    092

[1289 rows x 4 columns]