In [1]:
import csv

import pandas as pd

patient_27 = pd.read_csv('Diabetes-Data/data-27',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_27[patient_27['code'] == 33]

code34 = patient_27[patient_27['code'] == 34]

code35 = patient_27[patient_27['code'] == 35]

code48 = patient_27[patient_27['code'] == 48]

code57 = patient_27[patient_27['code'] == 57]

code58 = patient_27[patient_27['code'] == 58]

code59 = patient_27[patient_27['code'] == 59]

code60 = patient_27[patient_27['code'] == 60]

code61 = patient_27[patient_27['code'] == 61]

code62 = patient_27[patient_27['code'] == 62]

code63 = patient_27[patient_27['code'] == 63]

code64 = patient_27[patient_27['code'] == 64]

code65 = patient_27[patient_27['code'] == 65]

code66 = patient_27[patient_27['code'] == 66]

code67 = patient_27[patient_27['code'] == 67]

code68 = patient_27[patient_27['code'] == 68]

code69 = patient_27[patient_27['code'] == 69]

code70 = patient_27[patient_27['code'] == 70]

code71 = patient_27[patient_27['code'] == 71]

code72 = patient_27[patient_27['code'] == 72]

code71

rec27 = pd.read_csv('PatientRecords.csv')

rec27

rec27['date'] = patient_27['date']

rec27['id'] = 'Patient 27'

rec27['time'] = patient_27['time']

rec27['33'] = code33['volume']

rec27['34'] = code34['volume']

rec27['35'] = code35['volume']

rec27['48'] = code48['volume']

rec27['57'] = code57['volume']

rec27['58'] = code58['volume']

rec27['59'] = code59['volume']

rec27['60'] = code60['volume']

rec27['61'] = code61['volume']

rec27['62'] = code62['volume']

rec27['63'] = code63['volume']

rec27['64'] = code64['volume']

rec27['65'] = code65['volume']

rec27['66'] = code66['volume']

rec27['67'] = code67['volume']

rec27['68'] = code68['volume']

rec27['69'] = code69['volume']

rec27['70']  = code70['volume']

rec27['71'] = code71['volume']

rec27['72'] = code72['volume']

rec27

patient_27

rec27.to_csv(r'Prec27.csv', index = False)

In [2]:
rec27

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 27,01-29-1989,8:00,NaN,NaN,NaN,NaN,NaN,NaN,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 27,01-29-1989,8:00,006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 27,01-29-1989,8:00,NaN,016,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 27,01-29-1989,15:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 27,01-29-1989,15:10,004,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,Patient 27,10-27-1989,7:00,NaN,NaN,NaN,NaN,NaN,NaN,166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
922,Patient 27,10-27-1989,7:00,006,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,Patient 27,10-27-1989,7:00,NaN,016,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,Patient 27,10-27-1989,12:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
925,Patient 27,10-27-1989,12:30,004,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_27

           date   time  code volume
0    01-29-1989   8:00    58    155
1    01-29-1989   8:00    33    006
2    01-29-1989   8:00    34    016
3    01-29-1989  15:10    60    080
4    01-29-1989  15:10    33    004
..          ...    ...   ...    ...
921  10-27-1989   7:00    58    166
922  10-27-1989   7:00    33    006
923  10-27-1989   7:00    34    016
924  10-27-1989  12:30    60    138
925  10-27-1989  12:30    33    004

[926 rows x 4 columns]