In [1]:
import csv

import pandas as pd

patient_52 = pd.read_csv('Diabetes-Data/data-52',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_52[patient_52['code'] == 33]

code34 = patient_52[patient_52['code'] == 34]

code35 = patient_52[patient_52['code'] == 35]

code48 = patient_52[patient_52['code'] == 48]

code57 = patient_52[patient_52['code'] == 57]

code58 = patient_52[patient_52['code'] == 58]

code59 = patient_52[patient_52['code'] == 59]

code60 = patient_52[patient_52['code'] == 60]

code61 = patient_52[patient_52['code'] == 61]

code62 = patient_52[patient_52['code'] == 62]

code63 = patient_52[patient_52['code'] == 63]

code64 = patient_52[patient_52['code'] == 64]

code65 = patient_52[patient_52['code'] == 65]

code66 = patient_52[patient_52['code'] == 66]

code67 = patient_52[patient_52['code'] == 67]

code68 = patient_52[patient_52['code'] == 68]

code69 = patient_52[patient_52['code'] == 69]

code70 = patient_52[patient_52['code'] == 70]

code71 = patient_52[patient_52['code'] == 71]

code72 = patient_52[patient_52['code'] == 72]

code71

rec52 = pd.read_csv('PatientRecords.csv')

rec52

rec52['date'] = patient_52['date']

rec52['id'] = 'Patient 52'

rec52['time'] = patient_52['time']

rec52['33'] = code33['volume']

rec52['34'] = code34['volume']

rec52['35'] = code35['volume']

rec52['48'] = code48['volume']

rec52['57'] = code57['volume']

rec52['58'] = code58['volume']

rec52['59'] = code59['volume']

rec52['60'] = code60['volume']

rec52['61'] = code61['volume']

rec52['62'] = code62['volume']

rec52['63'] = code63['volume']

rec52['64'] = code64['volume']

rec52['65'] = code65['volume']

rec52['66'] = code66['volume']

rec52['67'] = code67['volume']

rec52['68'] = code68['volume']

rec52['69'] = code69['volume']

rec52['70']  = code70['volume']

rec52['71'] = code71['volume']

rec52['72'] = code72['volume']

rec52

patient_52

rec52.to_csv(r'Prec52.csv', index = False)

In [2]:
rec52

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 52,04-20-1991,11:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 52,04-20-1991,16:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 52,04-20-1991,16:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,Patient 52,04-20-1991,16:57,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 52,04-20-1991,20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 52,06-05-1991,20:51,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 52,06-06-1991,05:28,NaN,NaN,NaN,NaN,NaN,NaN,190.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 52,06-06-1991,05:30,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 52,06-06-1991,05:30,NaN,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 52,06-06-1991,16:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_52

           date   time  code  volume
0    04-20-1991  11:20    60      97
1    04-20-1991  16:55    62     235
2    04-20-1991  16:57    71       0
3    04-20-1991  16:57    33       7
4    04-20-1991  20:48    64      56
..          ...    ...   ...     ...
295  06-05-1991  20:51    34       8
296  06-06-1991  05:28    58     190
297  06-06-1991  05:30    33       2
298  06-06-1991  05:30    34      15
299  06-06-1991  16:32    62     308

[300 rows x 4 columns]