In [1]:
import csv

import pandas as pd

patient_30 = pd.read_csv('Diabetes-Data/data-30',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_30[patient_30['code'] == 33]

code34 = patient_30[patient_30['code'] == 34]

code35 = patient_30[patient_30['code'] == 35]

code48 = patient_30[patient_30['code'] == 48]

code57 = patient_30[patient_30['code'] == 57]

code58 = patient_30[patient_30['code'] == 58]

code59 = patient_30[patient_30['code'] == 59]

code60 = patient_30[patient_30['code'] == 60]

code61 = patient_30[patient_30['code'] == 61]

code62 = patient_30[patient_30['code'] == 62]

code63 = patient_30[patient_30['code'] == 63]

code64 = patient_30[patient_30['code'] == 64]

code65 = patient_30[patient_30['code'] == 65]

code66 = patient_30[patient_30['code'] == 66]

code67 = patient_30[patient_30['code'] == 67]

code68 = patient_30[patient_30['code'] == 68]

code69 = patient_30[patient_30['code'] == 69]

code70 = patient_30[patient_30['code'] == 70]

code71 = patient_30[patient_30['code'] == 71]

code72 = patient_30[patient_30['code'] == 72]

code71

rec30 = pd.read_csv('PatientRecords.csv')

rec30

rec30['date'] = patient_30['date']

rec30['id'] = 'Patient 30'

rec30['time'] = patient_30['time']

rec30['33'] = code33['volume']

rec30['34'] = code34['volume']

rec30['35'] = code35['volume']

rec30['48'] = code48['volume']

rec30['57'] = code57['volume']

rec30['58'] = code58['volume']

rec30['59'] = code59['volume']

rec30['60'] = code60['volume']

rec30['61'] = code61['volume']

rec30['62'] = code62['volume']

rec30['63'] = code63['volume']

rec30['64'] = code64['volume']

rec30['65'] = code65['volume']

rec30['66'] = code66['volume']

rec30['67'] = code67['volume']

rec30['68'] = code68['volume']

rec30['69'] = code69['volume']

rec30['70']  = code70['volume']

rec30['71'] = code71['volume']

rec30['72'] = code72['volume']

rec30

patient_30

rec30.to_csv(r'Prec30.csv', index = False)

In [2]:
rec30

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 30,12-18-1990,7:00,NaN,NaN,NaN,NaN,NaN,NaN,234.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 30,12-18-1990,7:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 30,12-18-1990,7:00,NaN,23.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 30,12-18-1990,11:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 30,12-18-1990,11:30,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,Patient 30,05-18-1991,08:00,NaN,27.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1175,Patient 30,05-18-1991,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1176,Patient 30,05-18-1991,12:00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1177,Patient 30,05-18-1991,18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1178,Patient 30,05-18-1991,18:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_30

            date   time  code  volume
0     12-18-1990   7:00    58     234
1     12-18-1990   7:00    33       6
2     12-18-1990   7:00    34      23
3     12-18-1990  11:30    60     212
4     12-18-1990  11:30    33       4
...          ...    ...   ...     ...
1174  05-18-1991  08:00    34      27
1175  05-18-1991  12:00    60      88
1176  05-18-1991  12:00    33       3
1177  05-18-1991  18:00    62     130
1178  05-18-1991  18:00    33       6

[1179 rows x 4 columns]