In [1]:
import csv

import pandas as pd

patient_62 = pd.read_csv('Diabetes-Data/data-62',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_62[patient_62['code'] == 33]

code34 = patient_62[patient_62['code'] == 34]

code35 = patient_62[patient_62['code'] == 35]

code48 = patient_62[patient_62['code'] == 48]

code57 = patient_62[patient_62['code'] == 57]

code58 = patient_62[patient_62['code'] == 58]

code59 = patient_62[patient_62['code'] == 59]

code60 = patient_62[patient_62['code'] == 60]

code61 = patient_62[patient_62['code'] == 61]

code62 = patient_62[patient_62['code'] == 62]

code63 = patient_62[patient_62['code'] == 63]

code64 = patient_62[patient_62['code'] == 64]

code65 = patient_62[patient_62['code'] == 65]

code66 = patient_62[patient_62['code'] == 66]

code67 = patient_62[patient_62['code'] == 67]

code68 = patient_62[patient_62['code'] == 68]

code69 = patient_62[patient_62['code'] == 69]

code70 = patient_62[patient_62['code'] == 70]

code71 = patient_62[patient_62['code'] == 71]

code72 = patient_62[patient_62['code'] == 72]

code71

rec62 = pd.read_csv('PatientRecords.csv')

rec62

rec62['date'] = patient_62['date']

rec62['id'] = 'Patient 62'

rec62['time'] = patient_62['time']

rec62['33'] = code33['volume']

rec62['34'] = code34['volume']

rec62['35'] = code35['volume']

rec62['48'] = code48['volume']

rec62['57'] = code57['volume']

rec62['58'] = code58['volume']

rec62['59'] = code59['volume']

rec62['60'] = code60['volume']

rec62['61'] = code61['volume']

rec62['62'] = code62['volume']

rec62['63'] = code63['volume']

rec62['64'] = code64['volume']

rec62['65'] = code65['volume']

rec62['66'] = code66['volume']

rec62['67'] = code67['volume']

rec62['68'] = code68['volume']

rec62['69'] = code69['volume']

rec62['70']  = code70['volume']

rec62['71'] = code71['volume']

rec62['72'] = code72['volume']

rec62

patient_62

rec62.to_csv(r'Prec62.csv', index = False)

In [2]:
rec62

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 62,06-12-1991,05:48,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 62,06-12-1991,05:48,NaN,NaN,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 62,06-12-1991,11:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 62,06-12-1991,11:50,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 62,06-12-1991,17:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 62,07-15-1991,05:26,NaN,NaN,14.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 62,07-15-1991,11:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 62,07-15-1991,11:51,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 62,07-15-1991,16:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 62,07-15-1991,16:18,NaN,NaN,NaN,NaN,NaN,217.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_62

           date   time  code  volume
0    06-12-1991  05:48    33       4
1    06-12-1991  05:48    35      10
2    06-12-1991  11:49    60     309
3    06-12-1991  11:50    33      12
4    06-12-1991  17:04    62      32
..          ...    ...   ...     ...
295  07-15-1991  05:26    35      14
296  07-15-1991  11:50    60     193
297  07-15-1991  11:51    33       9
298  07-15-1991  16:18    65       0
299  07-15-1991  16:18    57     217

[300 rows x 4 columns]