In [1]:
import csv

import pandas as pd

patient_51 = pd.read_csv('Diabetes-Data/data-51',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_51[patient_51['code'] == 33]

code34 = patient_51[patient_51['code'] == 34]

code35 = patient_51[patient_51['code'] == 35]

code48 = patient_51[patient_51['code'] == 48]

code57 = patient_51[patient_51['code'] == 57]

code58 = patient_51[patient_51['code'] == 58]

code59 = patient_51[patient_51['code'] == 59]

code60 = patient_51[patient_51['code'] == 60]

code61 = patient_51[patient_51['code'] == 61]

code62 = patient_51[patient_51['code'] == 62]

code63 = patient_51[patient_51['code'] == 63]

code64 = patient_51[patient_51['code'] == 64]

code65 = patient_51[patient_51['code'] == 65]

code66 = patient_51[patient_51['code'] == 66]

code67 = patient_51[patient_51['code'] == 67]

code68 = patient_51[patient_51['code'] == 68]

code69 = patient_51[patient_51['code'] == 69]

code70 = patient_51[patient_51['code'] == 70]

code71 = patient_51[patient_51['code'] == 71]

code72 = patient_51[patient_51['code'] == 72]

code71

rec51 = pd.read_csv('PatientRecords.csv')

rec51

rec51['date'] = patient_51['date']

rec51['id'] = 'Patient 51'

rec51['time'] = patient_51['time']

rec51['33'] = code33['volume']

rec51['34'] = code34['volume']

rec51['35'] = code35['volume']

rec51['48'] = code48['volume']

rec51['57'] = code57['volume']

rec51['58'] = code58['volume']

rec51['59'] = code59['volume']

rec51['60'] = code60['volume']

rec51['61'] = code61['volume']

rec51['62'] = code62['volume']

rec51['63'] = code63['volume']

rec51['64'] = code64['volume']

rec51['65'] = code65['volume']

rec51['66'] = code66['volume']

rec51['67'] = code67['volume']

rec51['68'] = code68['volume']

rec51['69'] = code69['volume']

rec51['70']  = code70['volume']

rec51['71'] = code71['volume']

rec51['72'] = code72['volume']

rec51

patient_51

rec51.to_csv(r'Prec51.csv', index = False)

In [2]:
rec51

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 51,03-30-1991,05:56,NaN,NaN,NaN,NaN,NaN,NaN,276.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 51,03-30-1991,06:01,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 51,03-30-1991,06:01,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 51,03-30-1991,09:04,NaN,NaN,NaN,NaN,NaN,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 51,03-30-1991,11:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 51,05-07-1991,16:12,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 51,05-07-1991,20:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 51,05-07-1991,20:22,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 51,05-08-1991,05:35,NaN,NaN,NaN,NaN,NaN,NaN,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,Patient 51,05-08-1991,09:19,NaN,NaN,NaN,NaN,NaN,83.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_51

           date   time  code  volume
0    03-30-1991  05:56    58     276
1    03-30-1991  06:01    33       4
2    03-30-1991  06:01    34       8
3    03-30-1991  09:04    57      40
4    03-30-1991  11:20    60     132
..          ...    ...   ...     ...
295  05-07-1991  16:12    33       6
296  05-07-1991  20:20    64      72
297  05-07-1991  20:22    34       5
298  05-08-1991  05:35    58      81
299  05-08-1991  09:19    57      83

[300 rows x 4 columns]