In [1]:
import csv

import pandas as pd

patient_50 = pd.read_csv('Diabetes-Data/data-50',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_50[patient_50['code'] == 33]

code34 = patient_50[patient_50['code'] == 34]

code35 = patient_50[patient_50['code'] == 35]

code48 = patient_50[patient_50['code'] == 48]

code57 = patient_50[patient_50['code'] == 57]

code58 = patient_50[patient_50['code'] == 58]

code59 = patient_50[patient_50['code'] == 59]

code60 = patient_50[patient_50['code'] == 60]

code61 = patient_50[patient_50['code'] == 61]

code62 = patient_50[patient_50['code'] == 62]

code63 = patient_50[patient_50['code'] == 63]

code64 = patient_50[patient_50['code'] == 64]

code65 = patient_50[patient_50['code'] == 65]

code66 = patient_50[patient_50['code'] == 66]

code67 = patient_50[patient_50['code'] == 67]

code68 = patient_50[patient_50['code'] == 68]

code69 = patient_50[patient_50['code'] == 69]

code70 = patient_50[patient_50['code'] == 70]

code71 = patient_50[patient_50['code'] == 71]

code72 = patient_50[patient_50['code'] == 72]

code71

rec50 = pd.read_csv('PatientRecords.csv')

rec50

rec50['date'] = patient_50['date']

rec50['id'] = 'Patient 50'

rec50['time'] = patient_50['time']

rec50['33'] = code33['volume']

rec50['34'] = code34['volume']

rec50['35'] = code35['volume']

rec50['48'] = code48['volume']

rec50['57'] = code57['volume']

rec50['58'] = code58['volume']

rec50['59'] = code59['volume']

rec50['60'] = code60['volume']

rec50['61'] = code61['volume']

rec50['62'] = code62['volume']

rec50['63'] = code63['volume']

rec50['64'] = code64['volume']

rec50['65'] = code65['volume']

rec50['66'] = code66['volume']

rec50['67'] = code67['volume']

rec50['68'] = code68['volume']

rec50['69'] = code69['volume']

rec50['70']  = code70['volume']

rec50['71'] = code71['volume']

rec50['72'] = code72['volume']

rec50

patient_50

rec50.to_csv(r'Prec50.csv', index = False)

In [2]:
rec50

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 50,08-03-1990,06:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 50,08-03-1990,06:33,NaN,NaN,NaN,NaN,NaN,NaN,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 50,08-03-1990,11:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 50,08-03-1990,19:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 50,08-03-1990,21:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Patient 50,10-01-1990,21:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Patient 50,10-02-1990,05:46,NaN,NaN,NaN,NaN,NaN,NaN,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Patient 50,10-02-1990,11:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patient 50,10-02-1990,11:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
299,Patient 50,10-02-1990,16:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_50

           date   time  code  volume
0    08-03-1990  06:31    56     207
1    08-03-1990  06:33    58     120
2    08-03-1990  11:36    60      42
3    08-03-1990  19:17    62      83
4    08-03-1990  21:37    64     150
..          ...    ...   ...     ...
295  10-01-1990  21:15    64      83
296  10-02-1990  05:46    58      83
297  10-02-1990  11:35    60      52
298  10-02-1990  11:36    70       0
299  10-02-1990  16:40    62      60

[300 rows x 4 columns]