In [1]:
import csv

import pandas as pd

patient_56 = pd.read_csv('Diabetes-Data/data-56',sep='\t', names=['date', 'time', 'code', 'volume'])

code33 = patient_56[patient_56['code'] == 33]

code34 = patient_56[patient_56['code'] == 34]

code35 = patient_56[patient_56['code'] == 35]

code48 = patient_56[patient_56['code'] == 48]

code57 = patient_56[patient_56['code'] == 57]

code58 = patient_56[patient_56['code'] == 58]

code59 = patient_56[patient_56['code'] == 59]

code60 = patient_56[patient_56['code'] == 60]

code61 = patient_56[patient_56['code'] == 61]

code62 = patient_56[patient_56['code'] == 62]

code63 = patient_56[patient_56['code'] == 63]

code64 = patient_56[patient_56['code'] == 64]

code65 = patient_56[patient_56['code'] == 65]

code66 = patient_56[patient_56['code'] == 66]

code67 = patient_56[patient_56['code'] == 67]

code68 = patient_56[patient_56['code'] == 68]

code69 = patient_56[patient_56['code'] == 69]

code70 = patient_56[patient_56['code'] == 70]

code71 = patient_56[patient_56['code'] == 71]

code72 = patient_56[patient_56['code'] == 72]

code71

rec56 = pd.read_csv('PatientRecords.csv')

rec56

rec56['date'] = patient_56['date']

rec56['id'] = 'Patient 56'

rec56['time'] = patient_56['time']

rec56['33'] = code33['volume']

rec56['34'] = code34['volume']

rec56['35'] = code35['volume']

rec56['48'] = code48['volume']

rec56['57'] = code57['volume']

rec56['58'] = code58['volume']

rec56['59'] = code59['volume']

rec56['60'] = code60['volume']

rec56['61'] = code61['volume']

rec56['62'] = code62['volume']

rec56['63'] = code63['volume']

rec56['64'] = code64['volume']

rec56['65'] = code65['volume']

rec56['66'] = code66['volume']

rec56['67'] = code67['volume']

rec56['68'] = code68['volume']

rec56['69'] = code69['volume']

rec56['70']  = code70['volume']

rec56['71'] = code71['volume']

rec56['72'] = code72['volume']

rec56

patient_56

rec56.to_csv(r'Prec56.csv', index = False)

In [2]:
rec56

,id,date,time,33,34,35,36,48,57,58,...,63,64,65,66,67,68,69,70,71,72
0,Patient 56,02-03-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,202.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 56,02-03-1989,08:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 56,02-03-1989,08:00,NaN,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 56,02-03-1989,12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 56,02-03-1989,12:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,Patient 56,06-07-1989,18:00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1014,Patient 56,06-07-1989,22:00,NaN,NaN,NaN,NaN,80.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,Patient 56,06-08-1989,08:00,NaN,NaN,NaN,NaN,NaN,NaN,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,Patient 56,06-08-1989,08:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1017,Patient 56,06-08-1989,08:00,NaN,NaN,12.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
patient_56

            date   time  code  volume
0     02-03-1989  08:00    58     202
1     02-03-1989  08:00    33       6
2     02-03-1989  08:00    35      12
3     02-03-1989  12:00    60     338
4     02-03-1989  12:00    33       6
...          ...    ...   ...     ...
1013  06-07-1989  18:00    33       4
1014  06-07-1989  22:00    48      80
1015  06-08-1989  08:00    58     104
1016  06-08-1989  08:00    33       6
1017  06-08-1989  08:00    35      12

[1018 rows x 4 columns]